Flow JSON Tools/Backup My Flows to Sharepoint/7bd62a15-ab20-4d5a-ad9e-5d28bab1c99f.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": { "defaultValue": {}, "type": "Object" },
    "$authentication": { "defaultValue": {}, "type": "SecureObject" }
  },
  "triggers": {
    "Recurrence": {
      "recurrence": { "frequency": "Day", "interval": 1 },
      "metadata": {
        "operationMetadataId": "1d08c2ea-2839-4b8e-9bd5-73b34fbefbb7"
      },
      "type": "Recurrence"
    }
  },
  "actions": {
    "List_My_Flows": {
      "runAfter": {},
      "metadata": {
        "flowSystemMetadata": { "swaggerOperationId": "ListMyFlows" },
        "operationMetadataId": "d1d45612-fb33-4ae0-82fe-6f747f7cd02f"
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['shared_flowmanagement']['connectionId']"
          }
        },
        "method": "get",
        "path": "/environments/@{encodeURIComponent('Default-44467e6f-462c-4ea2-823f-7800de5434e3')}/flows",
        "authentication": "@parameters('$authentication')"
      }
    },
    "Filter_array": {
      "runAfter": { "List_My_Flows": ["Succeeded"] },
      "metadata": {
        "operationMetadataId": "15e0b82a-4c15-4888-89e1-817fed789576"
      },
      "type": "Query",
      "inputs": {
        "from": "@body('List_My_Flows')?['value']",
        "where": "@not(startsWith(item()?['properties']?['lastModifiedTime'], '\"X\"'))"
      }
    },
    "Apply_to_each": {
      "foreach": "@body('List_My_Flows')?['value']",
      "actions": {
        "Get_Flow": {
          "runAfter": {},
          "metadata": {
            "flowSystemMetadata": { "swaggerOperationId": "GetFlow" },
            "operationMetadataId": "01335ca3-eef6-467b-af93-b100479f55eb"
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_flowmanagement']['connectionId']"
              }
            },
            "method": "get",
            "path": "/environments/@{encodeURIComponent('Default-44467e6f-462c-4ea2-823f-7800de5434e3')}/flows/@{encodeURIComponent(items('Apply_to_each')?['name'])}",
            "authentication": "@parameters('$authentication')"
          }
        },
        "filename-def": {
          "runAfter": { "foldername": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "29d462ff-c15c-4b5a-ab9c-16b07dffdcfc"
          },
          "type": "Compose",
          "inputs": "@{body('Get_Flow')?['name']}.json"
        },
        "filecontent-def": {
          "runAfter": { "filename-def": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "22280f26-2c50-4535-9b54-9736f8b64ed9"
          },
          "type": "Compose",
          "inputs": "@body('Get_Flow')['properties']['definition']"
        },
        "Create_file_-_definition": {
          "runAfter": { "filecontent-conn": ["Succeeded"] },
          "metadata": {
            "flowSystemMetadata": { "swaggerOperationId": "CreateFile" },
            "operationMetadataId": "ce981dd8-3515-4744-8fef-8e012d78683e"
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_sharepointonline']['connectionId']"
              }
            },
            "method": "post",
            "body": "@outputs('filecontent-def')",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST'))}/files",
            "queries": {
              "folderPath": "/Shared Documents/flows/@{outputs('foldername')}/",
              "name": "@{outputs('filename-def')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "foldername": {
          "runAfter": { "Get_Flow": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "34f6bb91-3c14-4098-8d90-74e661d51767"
          },
          "type": "Compose",
          "inputs": "@body('Get_Flow')['properties']['displayName']"
        },
        "filename-conn": {
          "runAfter": { "filecontent-def": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "3bd85e24-17db-4a03-a29f-755a30c48a70"
          },
          "type": "Compose",
          "inputs": "@{body('Get_Flow')?['name']}-conn.json"
        },
        "filecontent-conn": {
          "runAfter": { "filename-conn": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "0901aaf3-e3b3-45f6-ba57-42130f3567a0"
          },
          "type": "Compose",
          "inputs": "@body('Get_Flow')?['properties']?['connectionReferences']"
        },
        "Create_file_-_connection": {
          "runAfter": { "Create_file_-_definition": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "7e3c7b27-b8f9-4fe6-b365-40e4fd797312",
            "flowSystemMetadata": { "swaggerOperationId": "CreateFile" }
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_sharepointonline']['connectionId']"
              }
            },
            "method": "post",
            "body": "@outputs('filecontent-conn')",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST'))}/files",
            "queries": {
              "folderPath": "/Shared Documents/flows/@{outputs('foldername')}/",
              "name": "@{outputs('filename-conn')}",
              "queryParametersSingleEncoded": true
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": { "transferMode": "Chunked" }
          }
        }
      },
      "runAfter": { "Filter_array": ["Succeeded"] },
      "metadata": {
        "operationMetadataId": "382ca43e-bc2b-4342-b45d-ada21dcf5a63"
      },
      "type": "Foreach"
    }
  },
  "outputs": {},
  "description": "On a daily basis, retrieve all modified workflow definitions of Flow Management and save them as JSON file in a SharePoint library."
}
