General Flows/Consolidate WSAA ITPros/e29eb704-b223-4a7c-add8-799230a82477.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "$authentication": {
      "defaultValue": {},
      "type": "SecureObject"
    }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Button",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {},
          "required": []
        }
      }
    }
  },
  "actions": {
    "Get_items_-_WSAA_Database": {
      "runAfter": {},
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "table": "b8660d3f-bf62-4d31-9ffb-800bf55c1c47",
          "$filter": "startswith(field_0,'WSAA_')",
          "$top": 5000
        },
        "authentication": {
          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
          "type": "Raw"
        }
      }
    },
    "Apply_to_each_-_WSAA_Database": {
      "foreach": "@outputs('Get_items_-_WSAA_Database')?['body/value']",
      "actions": {
        "Condition_-_WSAA_Database": {
          "actions": {
            "Update_item_-_WSAA_Database": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "parameters": {
                  "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                  "table": "b8660d3f-bf62-4d31-9ffb-800bf55c1c47",
                  "id": "@items('Apply_to_each_-_WSAA_Database')?['ID']",
                  "item/field_0": "@{split(items('Apply_to_each_-_WSAA_Database')?['field_0'],'_')?[0]}_@{split(items('Apply_to_each_-_WSAA_Database')?['field_0'],'_')?[1]}"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            }
          },
          "runAfter": {},
          "expression": {
            "greater": ["@length(split(items('Apply_to_each_-_WSAA_Database')?['field_0'],'_'))", 2]
          },
          "type": "If"
        }
      },
      "runAfter": {
        "Get_items_-_WSAA_Database": ["Succeeded"]
      },
      "type": "Foreach"
    },

    "Get_items_-_WSAA_System": {
      "runAfter": {
        "Apply_to_each_-_WSAA_Database": ["Succeeded"]
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "table": "c9f0c68e-c8af-4f61-adf7-3be4e398d26d",
          "$filter": "startswith(Title,'WSAA_')",
          "$top": 5000
        },
        "authentication": {
          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
          "type": "Raw"
        }
      }
    },
    "Apply_to_each_-_WSAA_System": {
      "foreach": "@outputs('Get_items_-_WSAA_System')?['body/value']",
      "actions": {
        "Condition_-_WSAA_System": {
          "actions": {
            "Update_item_-_WSAA_System": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "parameters": {
                  "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                  "table": "c9f0c68e-c8af-4f61-adf7-3be4e398d26d",
                  "id": "@items('Apply_to_each_-_WSAA_System')?['ID']",
                  "item/Title": "@{split(items('Apply_to_each_-_WSAA_System')?['Title'],'_')?[0]}_@{split(items('Apply_to_each_-_WSAA_System')?['Title'],'_')?[1]}"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            }
          },
          "runAfter": {},
          "expression": {
            "greater": ["@length(split(items('Apply_to_each_-_WSAA_System')?['Title'],'_'))", 2]
          },
          "type": "If"
        }
      },
      "runAfter": {
        "Get_items_-_WSAA_System": ["Succeeded"]
      },
      "type": "Foreach"
    },

    "Get_items_-_WSAA_File": {
      "runAfter": {
        "Apply_to_each_-_WSAA_System": ["Succeeded"]
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "table": "bbbad72f-9052-4ded-9a9f-0f12516c6598",
          "$filter": "startswith(field_1,'WSAA_')",
          "$top": 5000
        },
        "authentication": {
          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
          "type": "Raw"
        }
      }
    },
    "Apply_to_each_-_WSAA_File": {
      "foreach": "@outputs('Get_items_-_WSAA_File')?['body/value']",
      "actions": {
        "Condition_-_WSAA_File": {
          "actions": {
            "Update_item_-_WSAA_File": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "parameters": {
                  "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                  "table": "bbbad72f-9052-4ded-9a9f-0f12516c6598",
                  "id": "@items('Apply_to_each_-_WSAA_File')?['ID']",
                  "item/field_1": "@{split(items('Apply_to_each_-_WSAA_File')?['field_1'],'_')?[0]}_@{split(items('Apply_to_each_-_WSAA_File')?['field_1'],'_')?[1]}"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            }
          },
          "runAfter": {},
          "expression": {
            "greater": ["@length(split(items('Apply_to_each_-_WSAA_File')?['field_1'],'_'))", 2]
          },
          "type": "If"
        }
      },
      "runAfter": {
        "Get_items_-_WSAA_File": ["Succeeded"]
      },
      "type": "Foreach"
    },

    "Get_items_-_WSAA_WebApp": {
      "runAfter": {
        "Apply_to_each_-_WSAA_File": ["Succeeded"]
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "table": "88166712-6a06-4cbb-8137-18c1bfd6e727",
          "$filter": "startswith(field_1,'WSAA_')",
          "$top": 5000
        },
        "authentication": {
          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
          "type": "Raw"
        }
      }
    },
    "Apply_to_each_-_WSAA_WebApp": {
      "foreach": "@outputs('Get_items_-_WSAA_WebApp')?['body/value']",
      "actions": {
        "Condition_-_WSAA_WebApp": {
          "actions": {
            "Update_item_-_WSAA_WebApp": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "parameters": {
                  "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                  "table": "88166712-6a06-4cbb-8137-18c1bfd6e727",
                  "id": "@items('Apply_to_each_-_WSAA_WebApp')?['ID']",
                  "item/field_1": "@{split(items('Apply_to_each_-_WSAA_WebApp')?['field_1'],'_')?[0]}_@{split(items('Apply_to_each_-_WSAA_WebApp')?['field_1'],'_')?[1]}"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            }
          },
          "runAfter": {},
          "expression": {
            "greater": ["@length(split(items('Apply_to_each_-_WSAA_WebApp')?['field_1'],'_'))", 2]
          },
          "type": "If"
        }
      },
      "runAfter": {
        "Get_items_-_WSAA_WebApp": ["Succeeded"]
      },
      "type": "Foreach"
    }

  }
}
