General Flows/Consolidate WSAA ITPros/e29eb704-b223-4a7c-add8-799230a82477.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"3e13214a-17e5-4919-8c7b-3f085e950b1c"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items_-_WSAA_Database":{"runAfter":{},"metadata":{"operationMetadataId":"e573a229-a3b0-486a-8277-07f9a79ad49b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","table":"b8660d3f-bf62-4d31-9ffb-800bf55c1c47","$filter":"startswith(field_0,'WSAA_')","$top":5000},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_items_-_WSAA_Database')?['body/value']","actions":{"Condition_2":{"actions":{"Update_item":{"runAfter":{},"metadata":{"operationMetadataId":"4223b6e1-4610-47ec-89d2-3cf984343f03"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","table":"b8660d3f-bf62-4d31-9ffb-800bf55c1c47","id":"@items('Apply_to_each')?['ID']","item/field_0":"@{split(items('Apply_to_each')?['field_0'],'_')?[0]}_@{split(items('Apply_to_each')?['field_0'],'_')?[1]}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"greater":["@length(split(items('Apply_to_each')?['field_0'],'_'))",2]},"metadata":{"operationMetadataId":"270c8f5c-9140-44b6-97f6-71fa81876bc9"},"type":"If"}},"runAfter":{"Get_items_-_WSAA_Database":["Succeeded"]},"metadata":{"operationMetadataId":"d867c900-41c5-4650-b531-fc52a65aadd4"},"type":"Foreach"}}}