General Flows/Consolidate WSAA ITPros/e29eb704-b223-4a7c-add8-799230a82477.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "$authentication": {
      "defaultValue": {},
      "type": "SecureObject"
    }
  },
  "triggers": {
    "Recurrence": {
      "recurrence": {
        "frequency": "Month",
        "interval": 1,
        "timeZone": "Central Standard Time",
        "startTime": "2023-02-01T07:15:00Z"
      },
      "metadata": {
        "operationMetadataId": "92a88eea-53b9-4af2-855b-2430a6ae5543"
      },
      "type": "Recurrence"
    }
  },
  "actions": {
    "Get_items_-_WSAA_Database": {
      "runAfter": {},
      "metadata": {
        "operationMetadataId": "199a255c-faa8-4384-b9b6-4daf33cfd28a"
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "table": "b8660d3f-bf62-4d31-9ffb-800bf55c1c47",
          "$filter": "startswith(field_0,'WSAA_')",
          "$top": 5000
        },
        "authentication": "@parameters('$authentication')"
      }
    },
    "Apply_to_each_-_WSAA_Database": {
      "foreach": "@outputs('Get_items_-_WSAA_Database')?['body/value']",
      "actions": {
        "Condition_-_WSAA_Database": {
          "actions": {
            "Update_item_-_WSAA_Database": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7d8fdb28-86cb-4997-aa85-15879708a02b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "parameters": {
                  "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                  "table": "b8660d3f-bf62-4d31-9ffb-800bf55c1c47",
                  "id": "@items('Apply_to_each_-_WSAA_Database')?['ID']",
                  "item/field_0": "@{split(items('Apply_to_each_-_WSAA_Database')?['field_0'],'_')?[0]}_@{split(items('Apply_to_each_-_WSAA_Database')?['field_0'],'_')?[1]}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "greater": [
              "@length(split(items('Apply_to_each_-_WSAA_Database')?['field_0'],'_'))",
              2
            ]
          },
          "metadata": {
            "operationMetadataId": "c34068e8-034a-46e6-b9ed-11ee4a5a4de3"
          },
          "type": "If"
        }
      },
      "runAfter": {
        "Get_items_-_WSAA_Database": ["Succeeded"]
      },
      "metadata": {
        "operationMetadataId": "bacb3787-cc1b-494b-bdb8-3d134f274400"
      },
      "type": "Foreach"
    },
    "Get_items_-_WSAA_System": {
      "runAfter": {
        "Apply_to_each_-_WSAA_Database": ["Succeeded"]
      },
      "metadata": {
        "operationMetadataId": "60734424-55c4-4efc-9775-2e2d3d0daa1b"
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "table": "c9f0c68e-c8af-4f61-adf7-3be4e398d26d",
          "$filter": "startswith(Title,'WSAA_')",
          "$top": 5000
        },
        "authentication": "@parameters('$authentication')"
      }
    },
    "Apply_to_each_-_WSAA_System": {
      "foreach": "@outputs('Get_items_-_WSAA_System')?['body/value']",
      "actions": {
        "Condition_-_WSAA_System": {
          "actions": {
            "Update_item_-_WSAA_System": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "27571423-db9f-4939-b01d-1db63b21bb1a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "parameters": {
                  "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                  "table": "c9f0c68e-c8af-4f61-adf7-3be4e398d26d",
                  "id": "@items('Apply_to_each_-_WSAA_System')?['ID']",
                  "item/Title": "@{split(items('Apply_to_each_-_WSAA_System')?['Title'],'_')?[0]}_@{split(items('Apply_to_each_-_WSAA_System')?['Title'],'_')?[1]}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "greater": [
              "@length(split(items('Apply_to_each_-_WSAA_System')?['Title'],'_'))",
              2
            ]
          },
          "metadata": {
            "operationMetadataId": "62a88b40-6a6e-42d2-a4d1-83366c2b1590"
          },
          "type": "If"
        }
      },
      "runAfter": {
        "Get_items_-_WSAA_System": ["Succeeded"]
      },
      "metadata": {
        "operationMetadataId": "4274c7b9-7fc9-4973-9841-de60da1b1148"
      },
      "type": "Foreach"
    },
    "Get_items_-_WSAA_File": {
      "runAfter": {
        "Apply_to_each_-_WSAA_System": ["Succeeded"]
      },
      "metadata": {
        "operationMetadataId": "340b085c-eb11-4e67-9c69-37215c169746"
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "table": "bbbad72f-9052-4ded-9a9f-0f12516c6598",
          "$filter": "startswith(field_1,'WSAA_')",
          "$top": 5000
        },
        "authentication": "@parameters('$authentication')"
      }
    },
    "Apply_to_each_-_WSAA_File": {
      "foreach": "@outputs('Get_items_-_WSAA_File')?['body/value']",
      "actions": {
        "Condition_-_WSAA_File": {
          "actions": {
            "Update_item_-_WSAA_File": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "17fa8fd3-7aee-4e95-a633-48a4718d6873"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "parameters": {
                  "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                  "table": "bbbad72f-9052-4ded-9a9f-0f12516c6598",
                  "id": "@items('Apply_to_each_-_WSAA_File')?['ID']",
                  "item/field_1": "@{split(items('Apply_to_each_-_WSAA_File')?['field_1'],'_')?[0]}_@{split(items('Apply_to_each_-_WSAA_File')?['field_1'],'_')?[1]}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "greater": [
              "@length(split(items('Apply_to_each_-_WSAA_File')?['field_1'],'_'))",
              2
            ]
          },
          "metadata": {
            "operationMetadataId": "127a3c59-2530-4e9f-88bc-27a24379ecd4"
          },
          "type": "If"
        }
      },
      "runAfter": {
        "Get_items_-_WSAA_File": ["Succeeded"]
      },
      "metadata": {
        "operationMetadataId": "e339d87b-1d01-414c-8c28-18fd414b3218"
      },
      "type": "Foreach"
    },
    "Get_items_-_WSAA_WebApp": {
      "runAfter": {
        "Apply_to_each_-_WSAA_File": ["Succeeded"]
      },
      "metadata": {
        "operationMetadataId": "034fb7bf-ef62-48f1-b805-ed69dc7ce277"
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "table": "88166712-6a06-4cbb-8137-18c1bfd6e727",
          "$filter": "startswith(field_1,'WSAA_')",
          "$top": 5000
        },
        "authentication": "@parameters('$authentication')"
      }
    },
    "Apply_to_each_-_WSAA_WebApp": {
      "foreach": "@outputs('Get_items_-_WSAA_WebApp')?['body/value']",
      "actions": {
        "Condition_-_WSAA_WebApp": {
          "actions": {
            "Update_item_-_WSAA_WebApp": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9da1412d-9d03-43e9-897a-29cb98391614"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "parameters": {
                  "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                  "table": "88166712-6a06-4cbb-8137-18c1bfd6e727",
                  "id": "@items('Apply_to_each_-_WSAA_WebApp')?['ID']",
                  "item/field_1": "@{split(items('Apply_to_each_-_WSAA_WebApp')?['field_1'],'_')?[0]}_@{split(items('Apply_to_each_-_WSAA_WebApp')?['field_1'],'_')?[1]}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "greater": [
              "@length(split(items('Apply_to_each_-_WSAA_WebApp')?['field_1'],'_'))",
              2
            ]
          },
          "metadata": {
            "operationMetadataId": "3884dd66-4334-4abb-bcb5-84758ad0ea21"
          },
          "type": "If"
        }
      },
      "runAfter": {
        "Get_items_-_WSAA_WebApp": ["Succeeded"]
      },
      "metadata": {
        "operationMetadataId": "60058ca4-4ba0-4b7b-a61c-d9e59c5ee32e"
      },
      "type": "Foreach"
    }
  }
}
