General/Update Lists/fd300701-3b06-4ad9-91fc-6fe0363da713.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_file_is_created_in_a_folder":{"recurrence":{"frequency":"Minute","interval":5},"metadata":{"%252fShared%2bDocuments%252fTest":"/Shared Documents/Test","operationMetadataId":"481a676d-5eba-47e6-b04d-91ac07eec610"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"OnNewFile"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","folderId":"%252fShared%2bDocuments%252fTest","inferContentType":true},"authentication":"@parameters('$authentication')"}}},"actions":{"TDX_Surveys":{"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"operationMetadataId":"754a3e30-8e99-4ca1-916e-8a4163469aa2","tableId":"Export_Table"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9","drive":"b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs","file":"@triggerOutputs()?['headers/x-ms-file-id']","table":"Export_Table","dateTimeFormat":"ISO 8601"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Create_item":{"runAfter":{},"metadata":{"operationMetadataId":"d490737e-481d-4e75-98be-8f9ba2429c11"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","table":"86dbed14-4bca-4d0e-b90b-9324a1759657","item/Title":"@items('Apply_to_each')?['Ticket ID']","item/field_1/Value":"@items('Apply_to_each')?['Satsified']","item/field_2":"@items('Apply_to_each')?['Comments-TS']","item/field_3":"@items('Apply_to_each')?['*TechSvc-Request Area']","item/field_4":"@items('Apply_to_each')?['Pri Resp Group']","item/SurveyCompleted2":"@items('Apply_to_each')?['Survey Completed']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"1bd3b813-9aa8-4f04-a3d9-436d52b7b1c1"},"type":"Foreach"}},"runAfter":{"Get_file_metadata":["Succeeded"]},"expression":{"startsWith":["@outputs('Get_file_metadata')?['body/Name']","tdx-survey-"]},"metadata":{"operationMetadataId":"6a1bc7c5-de89-40d1-bb66-fee6b90cf9d5"},"type":"If"},"TDX_Tickets":{"actions":{"List_rows_present_in_a_table_2":{"runAfter":{},"metadata":{"operationMetadataId":"32224fba-6e99-4f01-83cb-50408649a54c","tableId":"Export_Table"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9","drive":"b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs","file":"@triggerOutputs()?['headers/x-ms-file-id']","table":"Export_Table","dateTimeFormat":"ISO 8601"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_rows_present_in_a_table_2')?['body/value']","actions":{"Create_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"07a89a95-163f-41b8-a360-f4bf36b997ac"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","table":"818f3f6b-a92c-420e-bc92-22764fb04ccb","item/Title":"@items('Apply_to_each_2')?['Title']","item/Ticket_x0020_ID":"@items('Apply_to_each_2')?['ID']","item/field_2":"@items('Apply_to_each_2')?['Classification']","item/field_3":"@items('Apply_to_each_2')?['Requestor']","item/field_4":"@items('Apply_to_each_2')?['Acct~1Dept']","item/field_6":"@items('Apply_to_each_2')?['Status']","item/field_7":"@items('Apply_to_each_2')?['Priority']","item/field_8":"@items('Apply_to_each_2')?['Previous Resp Group']","item/field_9":"@items('Apply_to_each_2')?['Prim Resp']","item/field_10":"@items('Apply_to_each_2')?['Due']","item/LastModified":"@items('Apply_to_each_2')?['Modified']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"14913abd-751f-49c2-9958-98e2203b2a31"},"type":"Foreach"}},"runAfter":{"TDX_Surveys":["Succeeded"]},"expression":{"startsWith":["@outputs('Get_file_metadata')?['body/Name']","tdx-ticket-"]},"metadata":{"operationMetadataId":"933b6c3b-27e0-4ff7-b8ba-e198f733e817"},"type":"If"},"Get_file_metadata":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"5e3337f8-7eaa-4c46-82d6-05fe7a0028f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadata"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","id":"@triggerOutputs()?['headers/x-ms-file-id']"},"authentication":"@parameters('$authentication')"}},"LS_System_Admin":{"actions":{"List_rows_present_in_a_table_3":{"runAfter":{"Create_table":["Succeeded"]},"metadata":{"operationMetadataId":"5d4c8f85-555b-41e8-8e84-199e8411b860","tableId":"Export_Table","017W2FLZTUU5GJ4B62OJF3RGWKPMACEUZH":"/Test/ls-sysadmin-299_2022-05-16T22_22_31+00_00.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9","drive":"b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs","file":"@triggerOutputs()?['headers/x-ms-file-id']","table":"Export_Table"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"c412c373-10eb-4514-b8b7-0d661b66bdc7"},"type":"SetVariable","inputs":{"name":"rowCount","value":"@int(substring(outputs('Get_file_metadata')?['body/Name'],12,3))"}},"Increment_variable":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"ccf46b7d-bbce-4634-9ce3-7c3542479913"},"type":"IncrementVariable","inputs":{"name":"rowCount","value":1}},"Create_table":{"runAfter":{"Increment_variable":["Succeeded"]},"metadata":{"operationMetadataId":"0a332193-7515-485d-b1ad-b95df9cc2469","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9","drive":"b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs","file":"@triggerOutputs()?['headers/x-ms-file-id']","table/Range":"a1:i@{variables('rowCount')}","table/TableName":"Export_Table"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_rows_present_in_a_table_3')?['body/value']","actions":{"Create_item_3":{"runAfter":{},"metadata":{"operationMetadataId":"acd97d6f-34a0-49ac-a6ce-6243a8df62b4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","table":"c9f0c68e-c8af-4f61-adf7-3be4e398d26d","item/Title":"@items('Apply_to_each_3')?['IT Pros']","item/Month":"@substring(outputs('Get_file_metadata')?['body/Name'],16,7)","item/field_1":"@items('Apply_to_each_3')?['AssetName']","item/field_2":"@items('Apply_to_each_3')?['FunctionalLevel']","item/field_3":"@items('Apply_to_each_3')?['AssetTypename']","item/OperatingSystem":"@items('Apply_to_each_3')?['OperatingSystem']","item/field_4":"@items('Apply_to_each_3')?['Service']","item/field_5":"@items('Apply_to_each_3')?['UptimeDays']","item/field_6":"@items('Apply_to_each_3')?['End Customer Departments']","item/field_7":"@items('Apply_to_each_3')?['CFOP']","item/field_8":"@items('Apply_to_each_3')?['ActivityCode']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table_3":["Succeeded"]},"metadata":{"operationMetadataId":"7b99e456-3a2a-4291-8941-61c27c946ad6"},"type":"Foreach"}},"runAfter":{"TDX_Tickets":["Succeeded"]},"expression":{"startsWith":["@outputs('Get_file_metadata')?['body/Name']","ls-sysadmin_"]},"metadata":{"operationMetadataId":"6e071314-aea9-484a-9266-2229800f406d"},"type":"If"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"cfcc1823-e748-40d8-9d93-cb270fddadc4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"rowCount","type":"integer","value":0}]}},"Condition":{"actions":{"Create_table_2":{"runAfter":{},"metadata":{"operationMetadataId":"d6825fb6-99df-43e3-b255-12c26c84368c","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"sites/uillinoisedu.sharepoint.com,d9e14fac-92b0-41b0-8a7e-2fb0d9460c4f,3e36e6af-263b-4663-9991-55549fc5367d","drive":"b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs","file":"@triggerOutputs()?['headers/x-ms-file-id']","table/Range":"a1:d254","table/TableName":"Table1"},"authentication":"@parameters('$authentication')"}},"List_rows_present_in_a_table_4":{"runAfter":{"Create_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"a4c5cae9-04d5-409f-8ff7-228371e90d0a","tableId":"Table1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"sites/uillinoisedu.sharepoint.com,d9e14fac-92b0-41b0-8a7e-2fb0d9460c4f,3e36e6af-263b-4663-9991-55549fc5367d","drive":"b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs","file":"@triggerOutputs()?['headers/x-ms-file-id']","table":"Table1"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@outputs('List_rows_present_in_a_table_4')?['body/value']","actions":{"Create_item_4":{"runAfter":{},"metadata":{"operationMetadataId":"58090706-7f75-41d8-9689-fe98ec67a86d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","table":"0b1e303d-bc9c-4261-8b00-7ce62164f72b","item/Title":"@items('Apply_to_each_4')?['hostname']","item/field_0":"@substring(outputs('Get_file_metadata')?['body/Name'],4,7)","item/field_2":"@items('Apply_to_each_4')?['class']","item/field_3":"@items('Apply_to_each_4')?['service']","item/field_4":"@items('Apply_to_each_4')?['platform']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table_4":["Succeeded"]},"metadata":{"operationMetadataId":"4025cf1b-a937-456d-af70-16920caf2c49"},"type":"Foreach"}},"runAfter":{"LS_System_Admin":["Succeeded"]},"expression":{"startsWith":["@outputs('Get_file_metadata')?['body/Name']","smg_"]},"metadata":{"operationMetadataId":"0b5be9b5-4c32-438f-bf0f-8e042b5341c9"},"type":"If"},"Refresh_a_dataset":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"d7f38a48-214d-4fc5-9002-5407b0197e0d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"RefreshDataset"},"parameters":{"groupid":"myworkspace","datasetid":"ba430af0-ff43-46d6-9ace-5d6ab595e0b8"},"authentication":"@parameters('$authentication')"}}}}