General Flows/Update ShortOS Field/274a8cea-5a47-4c55-a26a-1c2f9bdbc0ee.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "$authentication": {
      "defaultValue": {},
      "type": "SecureObject"
    }
  },
  "triggers": {
    "manual": {
      "metadata": {
        "operationMetadataId": "15e7df7f-d34b-441e-a9fa-a0b5cea9552a"
      },
      "type": "Request",
      "kind": "Button",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {},
          "required": []
        }
      }
    }
  },
  "actions": {
    "Get_items": {
      "runAfter": {},
      "metadata": {
        "operationMetadataId": "0f4d9428-cf80-4e2e-babd-4cfbfc0ac785"
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "table": "c9f0c68e-c8af-4f61-adf7-3be4e398d26d",
          "$top": 5000
        },
        "authentication": {
          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
          "type": "Raw"
        }
      }
    },
    "Apply_to_each": {
      "foreach": "@outputs('Get_items')?['body/value']",
      "actions": {
        "Update_item": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2013119b-cd5e-49da-9666-69a1f2911d02"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "PatchItem"
            },
            "parameters": {
              "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
              "table": "c9f0c68e-c8af-4f61-adf7-3be4e398d26d",
              "id": "@items('Apply_to_each')?['ID']",
              "item/ShortOS": "@replace(replace(replace(replace(replace(replace(replace(items('Apply_to_each')?['OperatingSystem'],'Microsoft Windows ',''),' R2',''),' LTSC',''),' Standard',''),' Datacenter',''),' Enterprise',''),' Edition','')"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        }
      },
      "runAfter": {
        "Get_items": ["Succeeded"]
      },
      "metadata": {
        "operationMetadataId": "8d75d9ee-8bd8-4f41-b710-c7fae5276514"
      },
      "type": "Foreach"
    },
    "Refresh_a_dataset": {
      "runAfter": {
        "Apply_to_each": ["Succeeded"]
      },
      "metadata": {
        "operationMetadataId": "a84a4319-e25f-4385-a5e7-2be6f495dd76"
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerbi",
          "connectionName": "shared_powerbi",
          "operationId": "RefreshDataset"
        },
        "parameters": {
          "groupid": "myworkspace",
          "datasetid": "881d685e-c6cf-4233-b772-2f39f9b4f1e8"
        },
        "authentication": {
          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
          "type": "Raw"
        }
      }
    }
  },
  "description": "Update the ShortOS field in the WSAA System Administration list."
}
