General Flows/Update Lists/fd300701-3b06-4ad9-91fc-6fe0363da713.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "$connections": {
            "defaultValue": {},
            "type": "Object"
        },
        "$authentication": {
            "defaultValue": {},
            "type": "SecureObject"
        }
    },
    "triggers": {
        "01_When_a_file_is_created_in_a_folder": {
            "recurrence": {
                "frequency": "Minute",
                "interval": 1
            },
            "metadata": {
                "operationMetadataId": "5f475d6c-7f0c-4c5e-80e2-7e15cf6df7d4"
            },
            "type": "OpenApiConnection",
            "inputs": {
                "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                    "connectionName": "shared_sharepointonline",
                    "operationId": "OnNewFile"
                },
                "parameters": {
                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                    "folderId": "%252fShared%2bDocuments%252finbox",
                    "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
            }
        }
    },
    "actions": {
        "02_Initialize_variable_-_rowCount": {
            "runAfter": {},
            "metadata": {
                "operationMetadataId": "595f0bd4-d77e-490e-9822-d6bd6a5c192e"
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "rowCount",
                        "type": "integer",
                        "value": 0
                    }
                ]
            }
        },
        "02_Initialize_variable_-_monthYear": {
            "runAfter": {
                "02_Initialize_variable_-_rowCount": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "operationMetadataId": "192d5cfa-af68-447e-83b7-9ad7bbc09e26"
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "monthYear",
                        "type": "string"
                    }
                ]
            }
        },
        "02_Initialize_variable_-_itPros": {
            "runAfter": {
                "02_Initialize_variable_-_monthYear": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "operationMetadataId": "65def80d-8990-4304-baa2-e2f24ae2a850"
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "itPros",
                        "type": "string"
                    }
                ]
            }
        },
        "02_Initialize_variable_-_lineBreak": {
            "runAfter": {
                "02_Initialize_variable_-_itPros": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "operationMetadataId": "e235bb04-a6d4-49d6-a9fd-61c464ec2e13"
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "lineBreak",
                        "type": "string",
                        "value": "\n"
                    }
                ]
            }
        },
        "02_Initialize_variable_-_csvRows": {
            "runAfter": {
                "02_Initialize_variable_-_lineBreak": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "operationMetadataId": "6b3ab166-6d8a-410f-a761-0c176c7ec5d6"
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "csvRows",
                        "type": "array"
                    }
                ]
            }
        },
        "02_Initialize_variable_-_rowCells": {
            "runAfter": {
                "02_Initialize_variable_-_csvRows": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "operationMetadataId": "9fc67b0a-cf01-4069-8a2c-7be41fe2ddee"
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "rowCells",
                        "type": "array"
                    }
                ]
            }
        },
        "02_Initialize_variable_-_fileLocked": {
            "runAfter": {
                "02_Initialize_variable_-_rowCells": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "operationMetadataId": "43af5f89-0739-43a1-8b98-d88d5550334a"
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "fileLocked",
                        "type": "boolean",
                        "value": true
                    }
                ]
            }
        },
        "02_Initialize_variable_-_skipRefresh": {
            "runAfter": {
                "02_Initialize_variable_-_fileLocked": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "operationMetadataId": "a1550c2a-a6d2-42f4-a1e7-62b8814926f1"
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "skipRefresh",
                        "type": "boolean",
                        "value": false
                    }
                ]
            }
        },
        "03_Get_file_metadata": {
            "runAfter": {
                "02_Initialize_variable_-_skipRefresh": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "operationMetadataId": "4be93abf-9014-4622-b695-1198a2c18823"
            },
            "type": "OpenApiConnection",
            "inputs": {
                "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                    "connectionName": "shared_sharepointonline",
                    "operationId": "GetFileMetadata"
                },
                "parameters": {
                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                    "id": "@triggerOutputs()?['headers/x-ms-file-id']"
                },
                "authentication": "@parameters('$authentication')"
            }
        },
        "03_Initialize_variable_-_fileName": {
            "runAfter": {
                "03_Get_file_metadata": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "operationMetadataId": "582c2d83-3f50-468f-884d-6afd378394d8"
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "fileName",
                        "type": "array",
                        "value": "@split(outputs('03_Get_file_metadata')?['body/Name'],'_')"
                    }
                ]
            }
        },
        "11_Condition_-_TDX_Surveys": {
            "actions": {
                "List_rows_-_TDX_Surveys": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "c8ab5d45-57e9-4cf4-8265-6a83389a99c4",
                        "tableId": "Export_Table"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Export_Table",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_TDX_Survey": {
                    "foreach": "@outputs('List_rows_-_TDX_Surveys')?['body/value']",
                    "actions": {
                        "Create_item_-_TDX_Survey": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "36c1b93d-8e99-40c8-bab1-45505ce7bff1"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "86dbed14-4bca-4d0e-b90b-9324a1759657",
                                    "item/Title": "@items('Apply_to_each_-_TDX_Survey')?['Ticket ID']",
                                    "item/field_1/Value": "@items('Apply_to_each_-_TDX_Survey')?['Satsified']",
                                    "item/field_2": "@items('Apply_to_each_-_TDX_Survey')?['Comments-TS']",
                                    "item/field_3": "@items('Apply_to_each_-_TDX_Survey')?['*TechSvc-Request Area']",
                                    "item/field_4": "@items('Apply_to_each_-_TDX_Survey')?['Pri Resp Group']",
                                    "item/SurveyCompleted2": "@items('Apply_to_each_-_TDX_Survey')?['Survey Completed']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Create_or_update_document_(V3)_-_TDX_Survey": {
                            "runAfter": {
                                "Create_item_-_TDX_Survey": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "9025c00d-f051-4c38-9888-eabe043d9a62"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "mss-tdx-surveys",
                                    "body": {
                                        "id": "@items('Apply_to_each_-_TDX_Survey')?['Ticket ID']",
                                        "satisfied": "@items('Apply_to_each_-_TDX_Survey')?['Satsified']",
                                        "comments": "@items('Apply_to_each_-_TDX_Survey')?['Comments-TS']",
                                        "request_area": "@items('Apply_to_each_-_TDX_Survey')?['*TechSvc-Request Area']",
                                        "primary_resp_group": "@items('Apply_to_each_-_TDX_Survey')?['Pri Resp Group']",
                                        "survey_completed": "@items('Apply_to_each_-_TDX_Survey')?['Survey Completed']"
                                    }
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "List_rows_-_TDX_Surveys": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "7338bb29-ab35-4e0d-aafd-9db56db74606"
                    },
                    "type": "Foreach"
                },
                "Refresh_a_dataflow": {
                    "runAfter": {
                        "Apply_to_each_-_TDX_Survey": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "1efef1af-45cb-4ef0-bc0f-9599cad4142d"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_dataflows",
                            "connectionName": "shared_dataflows",
                            "operationId": "RefreshDataflow"
                        },
                        "parameters": {
                            "workspaceType": "Workspace",
                            "groupIdForRefreshDataflow": "008c575b-bd8f-40eb-8f22-fc1e2d5d2e73",
                            "dataflowIdForRefreshDataflow": "900237ac-2a88-44c8-b4ba-24d0b978380e"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "runAfter": {
                "03_Initialize_variable_-_fileName": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "tdx-survey-"
                ]
            },
            "metadata": {
                "operationMetadataId": "431877e2-7402-4436-bcb0-14354b2c048c"
            },
            "type": "If"
        },
        "12_Condition_-_TDX_Tickets": {
            "actions": {
                "List_rows_-_TDX_Tickets": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "32224fba-6e99-4f01-83cb-50408649a54c",
                        "tableId": "Export_Table"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Export_Table",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_TDX_Tickets": {
                    "foreach": "@outputs('List_rows_-_TDX_Tickets')?['body/value']",
                    "actions": {
                        "Create_item_-_TDX_Tickets": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "07a89a95-163f-41b8-a360-f4bf36b997ac"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "818f3f6b-a92c-420e-bc92-22764fb04ccb",
                                    "item/Title": "@items('Apply_to_each_-_TDX_Tickets')?['Title']",
                                    "item/Ticket_x0020_ID": "@items('Apply_to_each_-_TDX_Tickets')?['ID']",
                                    "item/field_2": "@items('Apply_to_each_-_TDX_Tickets')?['Classification']",
                                    "item/field_3": "@items('Apply_to_each_-_TDX_Tickets')?['Requestor']",
                                    "item/field_4": "@items('Apply_to_each_-_TDX_Tickets')?['Acct~1Dept']",
                                    "item/field_6": "@items('Apply_to_each_-_TDX_Tickets')?['Status']",
                                    "item/field_7": "@items('Apply_to_each_-_TDX_Tickets')?['Priority']",
                                    "item/field_8": "@items('Apply_to_each_-_TDX_Tickets')?['Resp Group']",
                                    "item/field_9": "@items('Apply_to_each_-_TDX_Tickets')?['Prim Resp']",
                                    "item/field_10": "@items('Apply_to_each_-_TDX_Tickets')?['Due']",
                                    "item/LastModified": "@items('Apply_to_each_-_TDX_Tickets')?['Modified']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Create_or_update_document_(V3)_-_TDX_Tickets": {
                            "runAfter": {
                                "Create_item_-_TDX_Tickets": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "1d96ec91-2743-4d29-a533-11c231d9f8f9"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "mss-tdx-tickets",
                                    "body": {
                                        "id": "@{items('Apply_to_each_-_TDX_Tickets')?['ID']}_@{substring(replace(replace(replace(items('Apply_to_each_-_TDX_Tickets')?['Modified'],'-',''),':',''),' ','T'),0,13)}",
                                        "ticket_title": "@items('Apply_to_each_-_TDX_Tickets')?['Title']",
                                        "ticket_id": "@items('Apply_to_each_-_TDX_Tickets')?['ID']",
                                        "classification": "@items('Apply_to_each_-_TDX_Tickets')?['Classification']",
                                        "requestor": "@items('Apply_to_each_-_TDX_Tickets')?['Requestor']",
                                        "department": "@items('Apply_to_each_-_TDX_Tickets')?['Acct~1Dept']",
                                        "status": "@items('Apply_to_each_-_TDX_Tickets')?['Status']",
                                        "priority": "@items('Apply_to_each_-_TDX_Tickets')?['Priority']",
                                        "primary_resp_group": "@items('Apply_to_each_-_TDX_Tickets')?['Resp Group']",
                                        "primary_resp": "@items('Apply_to_each_-_TDX_Tickets')?['Prim Resp']",
                                        "due": "@items('Apply_to_each_-_TDX_Tickets')?['Due']",
                                        "last_modified": "@items('Apply_to_each_-_TDX_Tickets')?['Modified']"
                                    }
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "List_rows_-_TDX_Tickets": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "14913abd-751f-49c2-9958-98e2203b2a31"
                    },
                    "type": "Foreach"
                },
                "Refresh_a_dataflow_2": {
                    "runAfter": {
                        "Apply_to_each_-_TDX_Tickets": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "f2b5b513-f877-462c-81a9-cd304d6fa1a0"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_dataflows",
                            "connectionName": "shared_dataflows",
                            "operationId": "RefreshDataflow"
                        },
                        "parameters": {
                            "workspaceType": "Workspace",
                            "groupIdForRefreshDataflow": "008c575b-bd8f-40eb-8f22-fc1e2d5d2e73",
                            "dataflowIdForRefreshDataflow": "900237ac-2a88-44c8-b4ba-24d0b978380e"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "runAfter": {
                "11_Condition_-_TDX_Surveys": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "tdx-ticket-"
                ]
            },
            "metadata": {
                "operationMetadataId": "933b6c3b-27e0-4ff7-b8ba-e198f733e817"
            },
            "type": "If"
        },
        "21_Condition_-_WSAA_System_Admin": {
            "actions": {
                "List_rows_-_WSAA_System_Admin": {
                    "runAfter": {
                        "Create_table_-_WSAA_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "0fc357e3-8ee1-431f-93cd-8db0faa9db23",
                        "tableId": "Export_Table"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Export_Table",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Set_variable_-_WSAA_System_Admin": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "96bfa37b-8299-4d28-9e12-0d97cea8353b"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": "@int(substring(outputs('03_Get_file_metadata')?['body/Name'],12,3))"
                    }
                },
                "Set_variable_-_WSAA_System_Admin_-_rowCount_0": {
                    "runAfter": {
                        "List_rows_-_WSAA_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "57780d53-2592-4d82-b026-2e56b7e775e2"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": 0
                    }
                },
                "Increment_variable_-_WSAA_System_Admin": {
                    "runAfter": {
                        "Set_variable_-_WSAA_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "6fbc0143-412c-45e6-9b88-14022ca4effc"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": 1
                    }
                },
                "Create_table_-_WSAA_System_Admin": {
                    "runAfter": {
                        "Set_variable_-_WSAA_System_Admin_-_monthYear": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "453e19d9-a14b-448b-8ee9-e3488b4dc333",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "a1:i@{variables('rowCount')}",
                            "table/TableName": "Export_Table"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_WSAA_System_Admin": {
                    "foreach": "@outputs('List_rows_-_WSAA_System_Admin')?['body/value']",
                    "actions": {
                        "Create_item_-_WSAA_System_Admin": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "7700935a-afe7-4355-949b-f42d636e425a"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "c9f0c68e-c8af-4f61-adf7-3be4e398d26d",
                                    "item/Title": "@items('Apply_to_each_-_WSAA_System_Admin')?['IT Pros']",
                                    "item/Month": "@substring(outputs('03_Get_file_metadata')?['body/Name'],16,7)",
                                    "item/field_1": "@items('Apply_to_each_-_WSAA_System_Admin')?['AssetName']",
                                    "item/field_2": "@items('Apply_to_each_-_WSAA_System_Admin')?['FunctionalLevel']",
                                    "item/field_3": "@items('Apply_to_each_-_WSAA_System_Admin')?['AssetTypename']",
                                    "item/ShortOS": "@replace(replace(replace(replace(replace(replace(replace(items('Apply_to_each_-_WSAA_System_Admin')?['OperatingSystem'],'Microsoft Windows ',''),' R2',''),' LTSC',''),' Standard',''),' Datacenter',''),' Enterprise',''),' Edition','')",
                                    "item/OperatingSystem": "@items('Apply_to_each_-_WSAA_System_Admin')?['OperatingSystem']",
                                    "item/field_4": "@items('Apply_to_each_-_WSAA_System_Admin')?['Service']",
                                    "item/field_5": "@items('Apply_to_each_-_WSAA_System_Admin')?['UptimeDays']",
                                    "item/field_6": "@items('Apply_to_each_-_WSAA_System_Admin')?['End Customer Departments']",
                                    "item/field_7": "@items('Apply_to_each_-_WSAA_System_Admin')?['CFOP']",
                                    "item/field_8": "@items('Apply_to_each_-_WSAA_System_Admin')?['ActivityCode']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Increment_variable_-_WSAA_System_Admin_-_rowCount_iter": {
                            "runAfter": {
                                "Create_item_-_WSAA_System_Admin": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "53bd98c9-8d8d-4390-b1d7-64e3f989b090"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                                "name": "rowCount"
                            }
                        },
                        "Create_or_update_document_(V3)_-_WSAA_System_Admin": {
                            "runAfter": {
                                "Increment_variable_-_WSAA_System_Admin_-_rowCount_iter": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "69862008-9ced-4e79-a537-ec64689a97a1"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "wsaa-system-admin",
                                    "body": {
                                        "it_pros": "@items('Apply_to_each_-_WSAA_System_Admin')?['IT Pros']",
                                        "month": "@substring(outputs('03_Get_file_metadata')?['body/Name'],16,7)",
                                        "server": "@items('Apply_to_each_-_WSAA_System_Admin')?['AssetName']",
                                        "class": "@items('Apply_to_each_-_WSAA_System_Admin')?['FunctionalLevel']",
                                        "os_type": "@items('Apply_to_each_-_WSAA_System_Admin')?['AssetTypename']",
                                        "short_os": "@replace(replace(replace(replace(replace(replace(replace(items('Apply_to_each_-_WSAA_System_Admin')?['OperatingSystem'],'Microsoft Windows ',''),' R2',''),' LTSC',''),' Standard',''),' Datacenter',''),' Enterprise',''),' Edition','')",
                                        "long_os": "@items('Apply_to_each_-_WSAA_System_Admin')?['OperatingSystem']",
                                        "service": "@items('Apply_to_each_-_WSAA_System_Admin')?['Service']",
                                        "uptime_days": "@items('Apply_to_each_-_WSAA_System_Admin')?['UptimeDays']",
                                        "end_customers": "@items('Apply_to_each_-_WSAA_System_Admin')?['End Customer Departments']",
                                        "cfop": "@items('Apply_to_each_-_WSAA_System_Admin')?['CFOP']",
                                        "activity": "@items('Apply_to_each_-_WSAA_System_Admin')?['ActivityCode']",
                                        "id": "@string(add(mul(int(replace(substring(outputs('03_Get_file_metadata')?['body/Name'],16,7),'-','')),10000),variables('rowCount')))"
                                    },
                                    "x-ms-documentdb-is-upsert": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Set_variable_-_WSAA_System_Admin_-_rowCount_0": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "d154638b-7560-4fae-bb2a-f77e8614b59c"
                    },
                    "type": "Foreach"
                },
                "Set_variable_-_WSAA_System_Admin_-_monthYear": {
                    "runAfter": {
                        "Increment_variable_-_WSAA_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "74d9e87b-0590-470b-a972-ab8df44ecb76"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "monthYear",
                        "value": "@{substring(outputs('03_Get_file_metadata')?['body/Name'],16,7)}"
                    }
                }
            },
            "runAfter": {
                "12_Condition_-_TDX_Tickets": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "ls-sysadmin_"
                ]
            },
            "metadata": {
                "operationMetadataId": "4b4ac23c-cc53-451d-9114-fcccd5340cd7"
            },
            "type": "If"
        },
        "22_Condition_-_WSAA_System_Admin_Daily": {
            "actions": {
                "List_rows_-_WSAA_System_Admin_Daily": {
                    "runAfter": {
                        "Create_table_-_WSAA_System_Admin_Daily": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "b321fe74-ddd1-46d2-81db-36d41d47f7a1",
                        "tableId": "Export_Table"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Export_Table",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Increment_variable_-_rowCount_-_WSAA_System_Admin_Daily": {
                    "runAfter": {
                        "Set_variable_-_rowCount_-_WSAA_System_Admin_Daily": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "6fbc0143-412c-45e6-9b88-14022ca4effc"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": 1
                    }
                },
                "Create_table_-_WSAA_System_Admin_Daily": {
                    "runAfter": {
                        "Set_variable_-_monthYear_-_WSAA_System_Admin_Daily": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "453e19d9-a14b-448b-8ee9-e3488b4dc333",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "a1:i@{variables('rowCount')}",
                            "table/TableName": "Export_Table"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_WSAA_System_Admin_Daily": {
                    "foreach": "@outputs('List_rows_-_WSAA_System_Admin_Daily')?['body/value']",
                    "actions": {
                        "Create_item_-_WSAA_System_Admin_Daily": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "7700935a-afe7-4355-949b-f42d636e425a"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "fc7a9c27-c5a7-45a6-868d-b52688fce2ea",
                                    "item/Title": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['IT Pros']",
                                    "item/field_1": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['AssetName']",
                                    "item/field_2": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['FunctionalLevel']",
                                    "item/field_3": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['AssetTypename']",
                                    "item/ShortOS": "@replace(replace(replace(replace(replace(replace(replace(items('Apply_to_each_-_WSAA_System_Admin_Daily')?['OperatingSystem'],'Microsoft Windows ',''),' R2',''),' LTSC',''),' Standard',''),' Datacenter',''),' Enterprise',''),' Edition','')",
                                    "item/OperatingSystem": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['OperatingSystem']",
                                    "item/field_4": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['Service']",
                                    "item/field_5": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['UptimeDays']",
                                    "item/field_6": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['End Customer Departments']",
                                    "item/field_7": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['CFOP']",
                                    "item/field_8": "@items('Apply_to_each_-_WSAA_System_Admin_Daily')?['ActivityCode']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "List_rows_-_WSAA_System_Admin_Daily": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "d154638b-7560-4fae-bb2a-f77e8614b59c"
                    },
                    "type": "Foreach"
                },
                "Set_variable_-_monthYear_-_WSAA_System_Admin_Daily": {
                    "runAfter": {
                        "Increment_variable_-_rowCount_-_WSAA_System_Admin_Daily": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "74d9e87b-0590-470b-a972-ab8df44ecb76"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "monthYear",
                        "value": "@{substring(outputs('03_Get_file_metadata')?['body/Name'],21,7)}"
                    }
                },
                "Get_items_-_delete_-_WSAA_System_Admin_Daily": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "78ea26ed-6733-4e72-8848-83b461c900ef"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                            "table": "fc7a9c27-c5a7-45a6-868d-b52688fce2ea",
                            "$top": 1000
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_delete_-_WSAA_System_Admin_Daily": {
                    "foreach": "@outputs('Get_items_-_delete_-_WSAA_System_Admin_Daily')?['body/value']",
                    "actions": {
                        "Delete_item_-_WSAA_System_Admin_Daily": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "e0861215-b5f2-4779-91ba-c924ac108c2f"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "DeleteItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "fc7a9c27-c5a7-45a6-868d-b52688fce2ea",
                                    "id": "@items('Apply_to_each_-_delete_-_WSAA_System_Admin_Daily')?['ID']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Get_items_-_delete_-_WSAA_System_Admin_Daily": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "19725ccf-e4fb-4652-90ce-b536aa7aff3b"
                    },
                    "type": "Foreach"
                },
                "Set_variable_-_rowCount_-_WSAA_System_Admin_Daily": {
                    "runAfter": {
                        "Apply_to_each_-_delete_-_WSAA_System_Admin_Daily": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "96bfa37b-8299-4d28-9e12-0d97cea8353b"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": "@int(variables('fileName')?[1])"
                    }
                }
            },
            "runAfter": {
                "21_Condition_-_WSAA_System_Admin": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "ls-dailysysadmin_"
                ]
            },
            "metadata": {
                "operationMetadataId": "4b4ac23c-cc53-451d-9114-fcccd5340cd7"
            },
            "type": "If"
        },
        "23_Condition_-_WSAA_Database": {
            "actions": {
                "Set_variable_-_rowCount_-_WSAA_Database": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "9254c123-e287-49a3-b5e3-815011ecd774"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": "@int(substring(outputs('03_Get_file_metadata')?['body/Name'],12,2))"
                    }
                },
                "Increment_variable_-_rowCount_-_WSAA_Database": {
                    "runAfter": {
                        "Set_variable_-_rowCount_-_WSAA_Database": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "860922e4-5bd8-47a3-84b8-74bcb7bf50da"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": 1
                    }
                },
                "Set_variable_-_monthYear_-_WSAA_Database": {
                    "runAfter": {
                        "Increment_variable_-_rowCount_-_WSAA_Database": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "7ec7a676-8af0-4c80-a953-49733d6ef31b"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "monthYear",
                        "value": "@{substring(outputs('03_Get_file_metadata')?['body/Name'],15,7)}"
                    }
                },
                "Set_variable_-_rowCount_0_-_WSAA_Database": {
                    "runAfter": {
                        "List_rows_-_WSAA_Database": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "7ec7a676-8af0-4c80-a953-49733d6ef31b"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": 0
                    }
                },
                "Create_table_-_WSAA_Database": {
                    "runAfter": {
                        "Set_variable_-_monthYear_-_WSAA_Database": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "e129b229-28c4-4ecd-b4cf-066eda374a17",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "a1:i@{variables('rowCount')}",
                            "table/TableName": "Export_Table"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "List_rows_-_WSAA_Database": {
                    "runAfter": {
                        "Create_table_-_WSAA_Database": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "ac3bb910-ceb3-4ec8-842f-865bd779d440",
                        "tableId": "Export_Table"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Export_Table"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_WSAA_Database": {
                    "foreach": "@outputs('List_rows_-_WSAA_Database')?['body/value']",
                    "actions": {
                        "Create_item_-_WSAA_Database": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "e5e602a0-7329-492d-b67f-06c209ac4b44"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "b8660d3f-bf62-4d31-9ffb-800bf55c1c47",
                                    "item/Title": "@items('Apply_to_each_-_WSAA_Database')?['AssetName']",
                                    "item/field_9": "@substring(outputs('03_Get_file_metadata')?['body/Name'],15,7)",
                                    "item/field_0": "@variables('itPros')",
                                    "item/field_2": "@items('Apply_to_each_-_WSAA_Database')?['Edition']",
                                    "item/field_3": "@items('Apply_to_each_-_WSAA_Database')?['License']",
                                    "item/field_4": "@items('Apply_to_each_-_WSAA_Database')?['SQLServicePack']",
                                    "item/field_5": "@items('Apply_to_each_-_WSAA_Database')?['version']",
                                    "item/field_6": "@items('Apply_to_each_-_WSAA_Database')?['fileVersion']",
                                    "item/field_7": "@items('Apply_to_each_-_WSAA_Database')?['Service']",
                                    "item/field_8": "@items('Apply_to_each_-_WSAA_Database')?['InstanceName']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Increment_variable_-_WSAA_Database_-_rowCount_iter": {
                            "runAfter": {
                                "Create_item_-_WSAA_Database": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "cb65c238-823c-4cb7-bb48-f546bc77407e"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                                "name": "rowCount"
                            }
                        },
                        "Create_or_update_document_(V3)_-_WSAA_Database": {
                            "runAfter": {
                                "Increment_variable_-_WSAA_Database_-_rowCount_iter": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "2136dec2-e941-48bd-a2a9-0934e3f0d629"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "wsaa-database",
                                    "body": {
                                        "it_pros": "@items('Apply_to_each_-_WSAA_Database')?['IT Pros']",
                                        "month": "@substring(outputs('03_Get_file_metadata')?['body/Name'],15,7)",
                                        "server": "@items('Apply_to_each_-_WSAA_Database')?['AssetName']",
                                        "sql_edition": "@items('Apply_to_each_-_WSAA_Database')?['Edition']",
                                        "sql_license": "@items('Apply_to_each_-_WSAA_Database')?['License']",
                                        "sql_servicepack": "@items('Apply_to_each_-_WSAA_Database')?['SQLServicePack']",
                                        "sql_version": "@items('Apply_to_each_-_WSAA_Database')?['version']",
                                        "file_version": "@items('Apply_to_each_-_WSAA_Database')?['fileVersion']",
                                        "sql_service_name": "@items('Apply_to_each_-_WSAA_Database')?['Service']",
                                        "instance_name": "@items('Apply_to_each_-_WSAA_Database')?['InstanceName']",
                                        "id": "@string(add(mul(int(replace(substring(outputs('03_Get_file_metadata')?['body/Name'],15,7),'-','')),10000),variables('rowCount')))"
                                    },
                                    "x-ms-documentdb-is-upsert": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Set_variable_-_rowCount_0_-_WSAA_Database": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "670207ce-6783-409e-b421-d37032b913ca"
                    },
                    "type": "Foreach"
                }
            },
            "runAfter": {
                "22_Condition_-_WSAA_System_Admin_Daily": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "ls-database_"
                ]
            },
            "metadata": {
                "operationMetadataId": "65aa756b-7a50-43ee-ac31-1f8c7a31b60b"
            },
            "type": "If"
        },
        "24_Condition_-_WSAA_Database_storage": {
            "actions": {
                "Set_variable_-_rowCount_-_WSAA_Database_storage": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "33e87728-b405-4a83-8113-320e8567070c"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": "@int(substring(outputs('03_Get_file_metadata')?['body/Name'],15,2))"
                    }
                },
                "Increment_variable_-_rowCount_-_WSAA_Database_storage": {
                    "runAfter": {
                        "Set_variable_-_rowCount_-_WSAA_Database_storage": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "caf4ba22-36ae-4d6b-af88-35ae4c88c368"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": 1
                    }
                },
                "Set_variable_-_monthYear_-_WSAA_Database_storage": {
                    "runAfter": {
                        "Increment_variable_-_rowCount_-_WSAA_Database_storage": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "ded932c9-4d15-40d6-a9d9-9c74fa053ab9"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "monthYear",
                        "value": "@{substring(outputs('03_Get_file_metadata')?['body/Name'],18,7)}"
                    }
                },
                "Create_table_-_WSAA_Database_storage": {
                    "runAfter": {
                        "Set_variable_-_monthYear_-_WSAA_Database_storage": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "2d921f47-ff89-49b2-8ec3-241dec0cb093",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "a1:h@{variables('rowCount')}",
                            "table/TableName": "Export_Table"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "List_rows_-_WSAA_Database_storage": {
                    "runAfter": {
                        "Create_table_-_WSAA_Database_storage": [
                            "Succeeded",
                            "Failed"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "8e008747-0c59-494c-8324-a39475a94c6b",
                        "tableId": "Export_Table"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Export_Table"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_WSAA_Database_storage": {
                    "foreach": "@outputs('List_rows_-_WSAA_Database_storage')?['body/value']",
                    "actions": {
                        "Get_items_from_WSAA_Database_Cluster": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "47a5f2ed-e37f-407b-9c90-b17e2fd295b0"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "GetItems"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "b8660d3f-bf62-4d31-9ffb-800bf55c1c47",
                                    "$filter": "field_7 eq 'MSSQL$@{toUpper(items('Apply_to_each_-_WSAA_Database_storage')?['LogicalDiskName'])}' and field_9 eq '@{variables('monthYear')}'"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "WSAA_Database_Cluster_Apply_to_each": {
                            "foreach": "@outputs('Get_items_from_WSAA_Database_Cluster')?['body/value']",
                            "actions": {
                                "Update_item_-_WSAA_Database_Storage": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "fdfa0a3b-ce96-46fc-b885-f433447b8f55"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "PatchItem"
                                        },
                                        "parameters": {
                                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                            "table": "b8660d3f-bf62-4d31-9ffb-800bf55c1c47",
                                            "id": "@items('WSAA_Database_Cluster_Apply_to_each')?['ID']",
                                            "item/DriveLetter": "@items('Apply_to_each_-_WSAA_Database_storage')?['DriveLetter']",
                                            "item/LogicalDiskName": "@items('Apply_to_each_-_WSAA_Database_storage')?['LogicalDiskName']",
                                            "item/Capacity": "@items('Apply_to_each_-_WSAA_Database_storage')?['Capacity']",
                                            "item/FreeSpace": "@items('Apply_to_each_-_WSAA_Database_storage')?['FreeSpace']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                }
                            },
                            "runAfter": {
                                "WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "c2f9fe28-ff9e-421a-8196-277fef223d56"
                            },
                            "type": "Foreach"
                        },
                        "Query_documents_V5_-_WSAA_Database_Storage": {
                            "runAfter": {
                                "Get_items_from_WSAA_Database_Cluster": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "7312f69b-b5a7-4195-84ef-12fa76d3db2a"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "QueryDocuments_V5"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "containerId": "wsaa-database",
                                    "queryText": "SELECT * FROM c WHERE c.sql_service_name = \"MSSQL$@{toUpper(items('Apply_to_each_-_WSAA_Database_storage')?['LogicalDiskName'])}\" AND c.month = \"@{variables('monthYear')}\""
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage": {
                            "foreach": "@outputs('Query_documents_V5_-_WSAA_Database_Storage')?['body/value']",
                            "actions": {
                                "Create_or_update_document_(V3)_-_WSAA_Database_Storage": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "d996a66a-0400-422b-8294-a0409505ab2a"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                            "connectionName": "shared_documentdb",
                                            "operationId": "CreateDocument_V3"
                                        },
                                        "parameters": {
                                            "cosmosDbAccountName": "AccountNameFromSettings",
                                            "databaseId": "mss-cosmos-customermanagement-db1",
                                            "collectionId": "wsaa-database",
                                            "body": {
                                                "id": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['id']}",
                                                "month": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['month']}",
                                                "it_pros": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['it_pros']}",
                                                "server": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['server']}",
                                                "sql_edition": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['sql_edition']}",
                                                "sql_license": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['sql_license']}",
                                                "sql_servicepack": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['sql_servicepack']}",
                                                "sql_version": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['sql_version']}",
                                                "file_version": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['file_version']}",
                                                "sql_service_name": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['sql_service_name']}",
                                                "instance_name": "@{items('WSAA_DB_Cluster_Apply_to_each_-_WSAA_Database_Storage')?['instance_name']}",
                                                "drive_letter": "@{items('Apply_to_each_-_WSAA_Database_storage')?['DriveLetter']}",
                                                "drive_name": "@{items('Apply_to_each_-_WSAA_Database_storage')?['LogicalDiskName']}",
                                                "drive_capacity": "@{items('Apply_to_each_-_WSAA_Database_storage')?['Capacity']}",
                                                "drive_free_space": "@{items('Apply_to_each_-_WSAA_Database_storage')?['FreeSpace']}"
                                            },
                                            "x-ms-documentdb-is-upsert": true
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Query_documents_V5_-_WSAA_Database_Storage": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "b3101765-b311-4a9c-addb-ffe4600d13e8"
                            },
                            "type": "Foreach"
                        }
                    },
                    "runAfter": {
                        "List_rows_-_WSAA_Database_storage": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "2da9cfd7-74c7-4143-b5a7-df3f6c0f417a"
                    },
                    "type": "Foreach"
                }
            },
            "runAfter": {
                "23_Condition_-_WSAA_Database": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "ls-fs-database_"
                ]
            },
            "metadata": {
                "operationMetadataId": "3d08415e-09c0-479a-b0d9-38060de8e660"
            },
            "type": "If"
        },
        "25_Condition_-_WSAA_File_Storage": {
            "actions": {
                "List_rows_-_WSAA_File_Storage": {
                    "runAfter": {
                        "Create_table_-_WSAA_File_Storage": [
                            "Succeeded",
                            "Failed"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "625c3018-5b09-4db5-94d6-a6ba4cb9fbf2",
                        "tableId": "Export_Table"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Export_Table",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Set_variable_-_rowCount_-_WSAA_File_Storage": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "1b237986-c1de-4089-b1f7-b706eca7c55d"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": "@int(substring(outputs('03_Get_file_metadata')?['body/Name'],12,3))"
                    }
                },
                "Increment_variable_-_rowCount_-_WSAA_File_Storage": {
                    "runAfter": {
                        "Set_variable_-_rowCount_-_WSAA_File_Storage": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "e5a46525-6973-4711-a9ff-a548d7c2df7d"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": 1
                    }
                },
                "Create_table_-_WSAA_File_Storage": {
                    "runAfter": {
                        "Set_variable_-_monthYear_-_WSAA_File_Storage": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "86f39f44-1c28-4172-8ff1-ad55ec8c67a9",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "a1:h@{variables('rowCount')}",
                            "table/TableName": "Export_Table"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Set_variable_-_WSAA_File_Storage_-_rowCount_0": {
                    "runAfter": {
                        "List_rows_-_WSAA_File_Storage": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "339eb24a-f44e-45d5-b453-4b566d8bff6f"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": 0
                    }
                },
                "Apply_to_each_-_WSAA_File_Storage": {
                    "foreach": "@outputs('List_rows_-_WSAA_File_Storage')?['body/value']",
                    "actions": {
                        "Create_item_-_WSAA_File_Storage": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "293c83a1-5c5d-440c-9825-132efef26369"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "bbbad72f-9052-4ded-9a9f-0f12516c6598",
                                    "item/Title": "@items('Apply_to_each_-_WSAA_File_Storage')?['AssetName']",
                                    "item/field_0": "@substring(outputs('03_Get_file_metadata')?['body/Name'],16,7)",
                                    "item/field_1": "@items('Apply_to_each_-_WSAA_File_Storage')?['IT Pros']",
                                    "item/field_4": "@items('Apply_to_each_-_WSAA_File_Storage')?['DriveLetter']",
                                    "item/FreeSpace": "@items('Apply_to_each_-_WSAA_File_Storage')?['FreeSpace']",
                                    "item/Capacity": "@items('Apply_to_each_-_WSAA_File_Storage')?['Capacity']",
                                    "item/field_5": "@items('Apply_to_each_-_WSAA_File_Storage')?['LogicalDiskName']",
                                    "item/EndCustomer": "@items('Apply_to_each_-_WSAA_File_Storage')?['End Customer']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Increment_variable_-_WSAA_File_Storage_-_rowCount_iter": {
                            "runAfter": {
                                "Create_item_-_WSAA_File_Storage": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "6376ba8f-8186-4d70-8571-6025a6317617"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                                "name": "rowCount"
                            }
                        },
                        "Create_or_update_document_(V3)_-_WSAA_File_Storage": {
                            "runAfter": {
                                "Increment_variable_-_WSAA_File_Storage_-_rowCount_iter": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "41ba96e2-a7a9-49ed-8db8-65551171402f"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "wsaa-file",
                                    "body": {
                                        "server": "@items('Apply_to_each_-_WSAA_File_Storage')?['AssetName']",
                                        "month": "@substring(outputs('03_Get_file_metadata')?['body/Name'],16,7)",
                                        "it_pros": "@items('Apply_to_each_-_WSAA_File_Storage')?['IT Pros']",
                                        "drive_letter": "@items('Apply_to_each_-_WSAA_File_Storage')?['DriveLetter']",
                                        "drive_free_space": "@items('Apply_to_each_-_WSAA_File_Storage')?['FreeSpace']",
                                        "drive_capacity": "@items('Apply_to_each_-_WSAA_File_Storage')?['Capacity']",
                                        "drive_name": "@items('Apply_to_each_-_WSAA_File_Storage')?['LogicalDiskName']",
                                        "end_customer": "@items('Apply_to_each_-_WSAA_File_Storage')?['End Customer']",
                                        "id": "@string(add(mul(int(replace(substring(outputs('03_Get_file_metadata')?['body/Name'],16,7),'-','')),10000),variables('rowCount')))"
                                    },
                                    "x-ms-documentdb-is-upsert": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "List_rows_-_WSAA_File_Storage": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "7ff1afcf-fdbb-477c-ad90-7d7d369c0b63"
                    },
                    "type": "Foreach"
                },
                "Set_variable_-_monthYear_-_WSAA_File_Storage": {
                    "runAfter": {
                        "Increment_variable_-_rowCount_-_WSAA_File_Storage": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "bf29c7ac-a74b-47db-8607-7fd970051400"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "monthYear",
                        "value": "@{substring(outputs('03_Get_file_metadata')?['body/Name'],16,7)}"
                    }
                }
            },
            "runAfter": {
                "24_Condition_-_WSAA_Database_storage": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "ls-filestor_"
                ]
            },
            "metadata": {
                "operationMetadataId": "ebb1e792-cf49-4111-979d-ad5788f473cf"
            },
            "type": "If"
        },
        "26_Condition_-_WSAA_WebApp": {
            "actions": {
                "List_rows_-_WSAA_WebApp": {
                    "runAfter": {
                        "Create_table_-_WSAA_WebApp": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5d6f9d7f-7ca4-49bb-9767-85c840302650",
                        "tableId": "Export_Table"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Export_Table",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Set_variable_-_rowCount_-_WSAA_WebApp": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "22bc436c-dc27-4edb-bada-64ac8a157fcd"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": "@int(variables('fileName')?[1])"
                    }
                },
                "Increment_variable_-_rowCount_-_WSAA_WebApp": {
                    "runAfter": {
                        "Set_variable_-_rowCount_-_WSAA_WebApp": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5f2c43bd-4edf-466f-9660-4b277a214520"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": 1
                    }
                },
                "Set_variable_-_rowCount_0_-_WSAA_WebApp": {
                    "runAfter": {
                        "List_rows_-_WSAA_WebApp": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "d9422ff3-86a2-48b6-9bb8-cf6bfbdc40c3"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "rowCount",
                        "value": "@int(variables('fileName')?[1])"
                    }
                },
                "Create_table_-_WSAA_WebApp": {
                    "runAfter": {
                        "Set_variable_-_monthYear_-_WSAA_WebApp": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "c0abdc40-1e6a-48ce-8679-f6f370468505",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "a1:i@{variables('rowCount')}",
                            "table/TableName": "Export_Table"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_WSAA_WebApp": {
                    "foreach": "@outputs('List_rows_-_WSAA_WebApp')?['body/value']",
                    "actions": {
                        "Create_item_-_WSAA_WebApp": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "ecfc872b-d64d-44b1-a082-5845a71cd766"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "88166712-6a06-4cbb-8137-18c1bfd6e727",
                                    "item/Title": "@items('Apply_to_each_-_WSAA_WebApp')?['AssetName']",
                                    "item/field_0": "@variables('monthYear')",
                                    "item/field_1": "@items('Apply_to_each_-_WSAA_WebApp')?['AssetGroup']",
                                    "item/field_3": "@items('Apply_to_each_-_WSAA_WebApp')?['Last IIS Change']",
                                    "item/field_4": "@items('Apply_to_each_-_WSAA_WebApp')?['UserDomain']",
                                    "item/field_5": "@items('Apply_to_each_-_WSAA_WebApp')?['Location']",
                                    "item/field_6": "@items('Apply_to_each_-_WSAA_WebApp')?['IPLocation']",
                                    "item/field_7": "@items('Apply_to_each_-_WSAA_WebApp')?['OS']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Increment_variable_-_WSAA_WebApp_-_rowCount_iter": {
                            "runAfter": {
                                "Create_item_-_WSAA_WebApp": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "1d0c4b5b-c5f6-403e-a9e0-0b7e17aa1326"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                                "name": "rowCount"
                            }
                        },
                        "Create_or_update_document_(V3)_-_WSAA_WebApp": {
                            "runAfter": {
                                "Increment_variable_-_WSAA_WebApp_-_rowCount_iter": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "c2e83c06-6bf1-4a14-8b9a-3acc58a467c6"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "wsaa-webapp",
                                    "body": {
                                        "server": "@items('Apply_to_each_-_WSAA_WebApp')?['AssetName']",
                                        "month": "@variables('monthYear')",
                                        "it_pros": "@items('Apply_to_each_-_WSAA_WebApp')?['AssetGroup']",
                                        "iis_last_change": "@items('Apply_to_each_-_WSAA_WebApp')?['Last IIS Change']",
                                        "user_domain": "@items('Apply_to_each_-_WSAA_WebApp')?['UserDomain']",
                                        "location": "@items('Apply_to_each_-_WSAA_WebApp')?['Location']",
                                        "ip_location": "@items('Apply_to_each_-_WSAA_WebApp')?['IPLocation']",
                                        "os": "@items('Apply_to_each_-_WSAA_WebApp')?['OS']",
                                        "id": "@string(add(mul(int(replace(variables('monthYear'),'-','')),10000),variables('rowCount')))"
                                    },
                                    "x-ms-documentdb-is-upsert": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Set_variable_-_rowCount_0_-_WSAA_WebApp": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "d1092687-2ef8-4904-83a1-e6123b26c701"
                    },
                    "type": "Foreach"
                },
                "Set_variable_-_monthYear_-_WSAA_WebApp": {
                    "runAfter": {
                        "Increment_variable_-_rowCount_-_WSAA_WebApp": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "8e075a8b-35a9-46c4-aae8-c64083596023"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "monthYear",
                        "value": "@{substring(variables('fileName')?[2],0,7)}"
                    }
                }
            },
            "runAfter": {
                "25_Condition_-_WSAA_File_Storage": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "ls-webahost_"
                ]
            },
            "metadata": {
                "operationMetadataId": "9c424dbc-62b9-4556-8774-c390e8e238cd"
            },
            "type": "If"
        },
        "31_Condition_-_SMG_System_Admin": {
            "actions": {
                "Create_table_-_SMG_System_Admin": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "64d868b3-18d6-48b4-a9d7-563883b88900",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "sites/uillinoisedu.sharepoint.com,d9e14fac-92b0-41b0-8a7e-2fb0d9460c4f,3e36e6af-263b-4663-9991-55549fc5367d",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "a1:d400",
                            "table/TableName": "Table1",
                            "table/ColumnsNames": "hostname,class,service,platform"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_SMG_System_Admin": {
                    "foreach": "@body('Filter_array_-_SMG_System_Admin')",
                    "actions": {
                        "Create_item_-_SMG_System_Admin": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "3f56075f-3666-4769-897c-212141d53609"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "0b1e303d-bc9c-4261-8b00-7ce62164f72b",
                                    "item/Title": "@items('Apply_to_each_-_SMG_System_Admin')?['hostname']",
                                    "item/field_0": "@substring(outputs('03_Get_file_metadata')?['body/Name'],4,7)",
                                    "item/field_2": "@items('Apply_to_each_-_SMG_System_Admin')?['class']",
                                    "item/field_3": "@items('Apply_to_each_-_SMG_System_Admin')?['service']",
                                    "item/field_4": "@items('Apply_to_each_-_SMG_System_Admin')?['platform']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Increment_variable_-_SMG_System_Admin": {
                            "runAfter": {
                                "Create_item_-_SMG_System_Admin": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "a8447c49-bca6-4437-9a3f-30e1a3f67b4c"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                                "name": "rowCount"
                            }
                        },
                        "Create_or_update_document_(V3)_-_SMG_System_Admin": {
                            "runAfter": {
                                "Increment_variable_-_SMG_System_Admin": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "29d7d544-5556-494e-bb66-9b70d25ad3e8"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "smg-system-admin",
                                    "body": {
                                        "server": "@items('Apply_to_each_-_SMG_System_Admin')?['hostname']",
                                        "month": "@variables('monthYear')",
                                        "class": "@items('Apply_to_each_-_SMG_System_Admin')?['class']",
                                        "service": "@items('Apply_to_each_-_SMG_System_Admin')?['service']",
                                        "platform": "@items('Apply_to_each_-_SMG_System_Admin')?['platform']",
                                        "id": "@string(add(mul(int(replace(variables('monthYear'),'-','')),10000),variables('rowCount')))"
                                    },
                                    "x-ms-documentdb-is-upsert": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Set_variable_-_monthYear_-_SMG_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5e16f5b6-7fc1-4f3d-8d79-b3c068cb1141"
                    },
                    "type": "Foreach"
                },
                "Set_variable_-_monthYear_-_SMG_System_Admin": {
                    "runAfter": {
                        "Filter_array_-_SMG_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "bfba90ed-ded7-4cbc-bc76-a1925863b32b"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "monthYear",
                        "value": "@{substring(outputs('03_Get_file_metadata')?['body/Name'],4,7)}"
                    }
                },
                "Get_items_-_services_-_SMG_System_Admin": {
                    "runAfter": {
                        "Apply_to_each_-_SMG_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "8f9a8c2c-15ad-473a-b070-7c8256bea03c"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                            "table": "0b1e303d-bc9c-4261-8b00-7ce62164f72b",
                            "$filter": "dept eq null",
                            "$top": 5000
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_update_services_-_SMG_System_Admin": {
                    "foreach": "@outputs('Get_items_-_services_-_SMG_System_Admin')?['body/value']",
                    "actions": {
                        "Condition_-_legacy_or_modern_service_-_SMG_System_Admin": {
                            "actions": {
                                "Update_item_-_modern_-_SMG_System_Admin": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "1d3dd0b3-0e46-4e68-98e0-cdee7521a9f9"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "PatchItem"
                                        },
                                        "parameters": {
                                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                            "table": "0b1e303d-bc9c-4261-8b00-7ce62164f72b",
                                            "id": "@items('Apply_to_each_-_update_services_-_SMG_System_Admin')?['ID']",
                                            "item/dept": "@replace(items('Apply_to_each_-_update_services_-_SMG_System_Admin')?['field_3'],substring(items('Apply_to_each_-_update_services_-_SMG_System_Admin')?['field_3'],indexOf(items('Apply_to_each_-_update_services_-_SMG_System_Admin')?['field_3'],'_')),'')"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Get_items_from_Crosswalk_-_SMG_System_Admin": {
                                        "runAfter": {},
                                        "metadata": {
                                            "operationMetadataId": "b72d8dbb-3088-4697-8309-9f3e26c2fa6f"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                            "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                                "connectionName": "shared_sharepointonline",
                                                "operationId": "GetItems"
                                            },
                                            "parameters": {
                                                "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                                "table": "bcc3081a-ba78-4dc3-95d8-6c72aa2d6f8f",
                                                "$filter": "Title eq '@{items('Apply_to_each_-_update_services_-_SMG_System_Admin')?['field_3']}'"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                        }
                                    },
                                    "Apply_to_each_-_legacy_-_SMG_System_Admin": {
                                        "foreach": "@outputs('Get_items_from_Crosswalk_-_SMG_System_Admin')?['body/value']",
                                        "actions": {
                                            "Update_item_-_legacy_-_SMG_System_Admin": {
                                                "runAfter": {},
                                                "metadata": {
                                                    "operationMetadataId": "ed7e1e6f-149c-48e3-83f2-a2de60416d9d"
                                                },
                                                "type": "OpenApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                                        "connectionName": "shared_sharepointonline",
                                                        "operationId": "PatchItem"
                                                    },
                                                    "parameters": {
                                                        "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                                        "table": "0b1e303d-bc9c-4261-8b00-7ce62164f72b",
                                                        "id": "@items('Apply_to_each_-_update_services_-_SMG_System_Admin')?['ID']",
                                                        "item/dept": "@items('Apply_to_each_-_legacy_-_SMG_System_Admin')?['field_1']"
                                                    },
                                                    "authentication": "@parameters('$authentication')"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Get_items_from_Crosswalk_-_SMG_System_Admin": [
                                                "Succeeded"
                                            ]
                                        },
                                        "metadata": {
                                            "operationMetadataId": "289cb4ce-43a7-47ef-b0f5-af85acaa1f26"
                                        },
                                        "type": "Foreach"
                                    }
                                }
                            },
                            "expression": {
                                "contains": [
                                    "",
                                    "_"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "fb748f1d-b8a0-4ed7-b40b-93a2b431ff9c"
                            },
                            "type": "If"
                        }
                    },
                    "runAfter": {
                        "Get_items_-_services_-_SMG_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "52422942-1750-46bf-a78b-bf6d7c0e63f0"
                    },
                    "type": "Foreach"
                },
                "List_Rows_-_SMG_System_Admin": {
                    "runAfter": {
                        "Create_table_-_SMG_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5d7b4871-530e-4b0f-a8c6-d7e747e88c17",
                        "tableId": "Table1"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "sites/uillinoisedu.sharepoint.com,d9e14fac-92b0-41b0-8a7e-2fb0d9460c4f,3e36e6af-263b-4663-9991-55549fc5367d",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Table1",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Filter_array_-_SMG_System_Admin": {
                    "runAfter": {
                        "List_Rows_-_SMG_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "02f87cef-ff5c-466f-8b3a-71e9f9481c76"
                    },
                    "type": "Query",
                    "inputs": {
                        "from": "@outputs('List_Rows_-_SMG_System_Admin')?['body/value']",
                        "where": "@not(equals(item()?['hostname'],''))"
                    }
                }
            },
            "runAfter": {
                "26_Condition_-_WSAA_WebApp": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "smg_"
                ]
            },
            "metadata": {
                "operationMetadataId": "4339773b-ca88-4e32-bf77-35a578c87424"
            },
            "type": "If"
        },
        "32_Condition_-_SMG_Daily_System_Admin": {
            "actions": {
                "List_Rows_-_SMG_Daily_System_Admin": {
                    "runAfter": {
                        "Create_table_-_SMG_Daily_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5d7b4871-530e-4b0f-a8c6-d7e747e88c17",
                        "tableId": "Table1"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "sites/uillinoisedu.sharepoint.com,d9e14fac-92b0-41b0-8a7e-2fb0d9460c4f,3e36e6af-263b-4663-9991-55549fc5367d",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Table1",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Filter_array_-_SMG_Daily_System_Admin": {
                    "runAfter": {
                        "List_Rows_-_SMG_Daily_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "02f87cef-ff5c-466f-8b3a-71e9f9481c76"
                    },
                    "type": "Query",
                    "inputs": {
                        "from": "@outputs('List_Rows_-_SMG_Daily_System_Admin')?['body/value']",
                        "where": "@not(equals(item()?['hostname'],''))"
                    }
                },
                "Apply_to_each_-_SMG_Daily_System_Admin": {
                    "foreach": "@body('Filter_array_-_SMG_Daily_System_Admin')",
                    "actions": {
                        "Create_item_-_SMG_Daily_System_Admin": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "3f56075f-3666-4769-897c-212141d53609"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "81e26213-f723-4b04-bfaf-3a5284cdb007",
                                    "item/Title": "@items('Apply_to_each_-_SMG_Daily_System_Admin')?['hostname']",
                                    "item/field_1": "@items('Apply_to_each_-_SMG_Daily_System_Admin')?['class']",
                                    "item/field_2": "@items('Apply_to_each_-_SMG_Daily_System_Admin')?['service']",
                                    "item/field_3": "@items('Apply_to_each_-_SMG_Daily_System_Admin')?['platform']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Filter_array_-_SMG_Daily_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5e16f5b6-7fc1-4f3d-8d79-b3c068cb1141"
                    },
                    "type": "Foreach"
                },
                "Get_items_for_Delete_-_SMG_Daily_System_Admin": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "c8679c9d-36b1-4901-88df-6c3972aefa7b"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                            "table": "81e26213-f723-4b04-bfaf-3a5284cdb007",
                            "$top": 5000
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Create_table_-_SMG_Daily_System_Admin": {
                    "runAfter": {
                        "Apply_to_each_-_Delete_items_-_SMG_Daily_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "64d868b3-18d6-48b4-a9d7-563883b88900",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "sites/uillinoisedu.sharepoint.com,d9e14fac-92b0-41b0-8a7e-2fb0d9460c4f,3e36e6af-263b-4663-9991-55549fc5367d",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "a1:d400",
                            "table/TableName": "Table1",
                            "table/ColumnsNames": "hostname,class,service,platform"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_Delete_items_-_SMG_Daily_System_Admin": {
                    "foreach": "@outputs('Get_items_for_Delete_-_SMG_Daily_System_Admin')?['body/value']",
                    "actions": {
                        "Delete_item_-_SMG_Daily_System_Admin": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "deda2a8c-47a4-404d-9f94-9d240ddbad63"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "DeleteItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "81e26213-f723-4b04-bfaf-3a5284cdb007",
                                    "id": "@items('Apply_to_each_-_Delete_items_-_SMG_Daily_System_Admin')?['ID']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Get_items_for_Delete_-_SMG_Daily_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "c226a20d-6826-4813-aa0b-9cbeb835ec48"
                    },
                    "type": "Foreach"
                },
                "Export_To_File_for_Paginated_Reports_-_SMG_Daily_System_Admin": {
                    "runAfter": {
                        "Apply_to_each_-_SMG_Daily_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "8c9b9c9b-5f33-44a1-a588-8684aae6b149"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerbi",
                            "connectionName": "shared_powerbi",
                            "operationId": "InitiateExportToFileForPaginatedReports"
                        },
                        "parameters": {
                            "groupid": "008c575b-bd8f-40eb-8f22-fc1e2d5d2e73",
                            "reportid": "462fc82b-f7f4-4dc0-8658-b483fd4f4f13",
                            "ExportPayloadPaginatedReport/format": "XLSX"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Create_file_-_daily_status_-_SMG_Daily_System_Admin": {
                    "runAfter": {
                        "Export_To_File_for_Paginated_Reports_-_SMG_Daily_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "8a018d45-2688-46b1-8a4d-60a24ad5961b"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "CreateFile"
                        },
                        "parameters": {
                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                            "folderPath": "/Shared Documents/inbox",
                            "name": "smg-daily-status.xlsx",
                            "body": "@body('Export_To_File_for_Paginated_Reports_-_SMG_Daily_System_Admin')"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Set_variable_-_skipRefresh_-_SMG_Daily_System_Admin": {
                    "runAfter": {
                        "Create_file_-_daily_status_-_SMG_Daily_System_Admin": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "89ad32f2-d978-4fb2-956c-0110b57d81de"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "skipRefresh",
                        "value": true
                    }
                }
            },
            "runAfter": {
                "31_Condition_-_SMG_System_Admin": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "dailysmg_"
                ]
            },
            "metadata": {
                "operationMetadataId": "4339773b-ca88-4e32-bf77-35a578c87424"
            },
            "type": "If"
        },
        "33_Condition_-_SMG_Daily_Status": {
            "actions": {
                "List_Rows_-_SMG_Daily_Status": {
                    "runAfter": {
                        "Create_table_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5d7b4871-530e-4b0f-a8c6-d7e747e88c17",
                        "tableId": "Table1"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "sites/uillinoisedu.sharepoint.com,d9e14fac-92b0-41b0-8a7e-2fb0d9460c4f,3e36e6af-263b-4663-9991-55549fc5367d",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Table1",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Filter_array_-_SMG_Daily_Status": {
                    "runAfter": {
                        "List_Rows_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "02f87cef-ff5c-466f-8b3a-71e9f9481c76"
                    },
                    "type": "Query",
                    "inputs": {
                        "from": "@outputs('List_Rows_-_SMG_Daily_Status')?['body/value']",
                        "where": "@not(equals(item()?['service'],''))"
                    }
                },
                "Apply_to_each_-_SMG_Daily_Status": {
                    "foreach": "@body('Filter_array_-_SMG_Daily_Status')",
                    "actions": {
                        "Create_item_-_SMG_Daily_Status": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "3f56075f-3666-4769-897c-212141d53609"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "b234c592-ad15-4fff-8d10-ef65ed626c62",
                                    "item/Title": "@items('Apply_to_each_-_SMG_Daily_Status')?['service']",
                                    "item/field_1": "@items('Apply_to_each_-_SMG_Daily_Status')?['status']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Filter_array_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5e16f5b6-7fc1-4f3d-8d79-b3c068cb1141"
                    },
                    "type": "Foreach"
                },
                "Get_items_for_Delete_-_SMG_Daily_Status": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "c8679c9d-36b1-4901-88df-6c3972aefa7b"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                            "table": "b234c592-ad15-4fff-8d10-ef65ed626c62",
                            "$top": 5000
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Create_table_-_SMG_Daily_Status": {
                    "runAfter": {
                        "Apply_to_each_-_Delete_items_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "64d868b3-18d6-48b4-a9d7-563883b88900",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "sites/uillinoisedu.sharepoint.com,d9e14fac-92b0-41b0-8a7e-2fb0d9460c4f,3e36e6af-263b-4663-9991-55549fc5367d",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "a1:b200",
                            "table/TableName": "Table1",
                            "table/ColumnsNames": "service,status"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_Delete_items_-_SMG_Daily_Status": {
                    "foreach": "@outputs('Get_items_for_Delete_-_SMG_Daily_Status')?['body/value']",
                    "actions": {
                        "Delete_item_-_SMG_Daily_Status": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "deda2a8c-47a4-404d-9f94-9d240ddbad63"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "DeleteItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "b234c592-ad15-4fff-8d10-ef65ed626c62",
                                    "id": "@items('Apply_to_each_-_Delete_items_-_SMG_Daily_Status')?['ID']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Get_items_for_Delete_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "c226a20d-6826-4813-aa0b-9cbeb835ec48"
                    },
                    "type": "Foreach"
                },
                "Get_items_-_Daily_Inventory_-_SMG_Daily_Status": {
                    "runAfter": {
                        "Apply_to_each_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "a2caad3a-539f-443d-b7b7-efd935f75cb4"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                            "table": "81e26213-f723-4b04-bfaf-3a5284cdb007",
                            "$top": 5000
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_Update_Migration_Status_-_SMG_Daily_Status": {
                    "foreach": "@outputs('Get_items_-_Daily_Inventory_-_SMG_Daily_Status')?['body/value']",
                    "actions": {
                        "Get_items_-_Crosswalk_match_-_SMG_Daily_Status": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "44d7b962-fe93-4f94-ae1c-b165e3e96bc3"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "GetItems"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "bcc3081a-ba78-4dc3-95d8-6c72aa2d6f8f",
                                    "$filter": "Title eq '@{items('Apply_to_each_-_Update_Migration_Status_-_SMG_Daily_Status')?['field_2']}'"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Compose_-_Crosswalk_match_count_-_SMG_Daily_Status": {
                            "runAfter": {
                                "Apply_to_each_-_Crosswalk_migration_service_-_SMG_Daily_Status": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "c463609b-f8b8-4727-a1bf-cbe4fcd1a194"
                            },
                            "type": "Compose",
                            "inputs": "@length(outputs('Get_items_-_Crosswalk_match_-_SMG_Daily_Status')?['body/value'])"
                        },
                        "Condition_-_Crosswalk_match_found_-_SMG_Daily_Status": {
                            "actions": {
                                "Get_items_-_status_by_crosswalk_-_SMG_Daily_Status": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "b2ae3799-223f-4767-9d53-ba82533312ef"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "GetItems"
                                        },
                                        "parameters": {
                                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                            "table": "b234c592-ad15-4fff-8d10-ef65ed626c62",
                                            "$filter": "Title eq '@{variables('itPros')}'"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                },
                                "Apply_to_each_-_status_by_crosswalk_-_SMG_Daily_Status": {
                                    "foreach": "@outputs('Get_items_-_status_by_crosswalk_-_SMG_Daily_Status')?['body/value']",
                                    "actions": {
                                        "Set_variable_-_status_by_crosswalk_-_SMG_Daily_Status": {
                                            "runAfter": {},
                                            "metadata": {
                                                "operationMetadataId": "9e9abcf8-263d-4009-a96f-4b7918b3d60f"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "itPros",
                                                "value": "@items('Apply_to_each_-_status_by_crosswalk_-_SMG_Daily_Status')?['field_1']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Get_items_-_status_by_crosswalk_-_SMG_Daily_Status": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "6452864f-f886-4ab9-9d55-134901d9b425"
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Compose_-_Crosswalk_match_count_-_SMG_Daily_Status": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Get_items_-_status_by_service_-_SMG_Daily_Status": {
                                        "runAfter": {},
                                        "metadata": {
                                            "operationMetadataId": "ce9e662b-711c-4fca-a721-5f79b03060c1"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                            "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                                "connectionName": "shared_sharepointonline",
                                                "operationId": "GetItems"
                                            },
                                            "parameters": {
                                                "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                                "table": "b234c592-ad15-4fff-8d10-ef65ed626c62",
                                                "$filter": "Title eq '@{items('Apply_to_each_-_Update_Migration_Status_-_SMG_Daily_Status')?['field_2']}'"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                        }
                                    },
                                    "Apply_to_each_-_status_by_service_-_SMG_Daily_Status": {
                                        "foreach": "@outputs('Get_items_-_status_by_service_-_SMG_Daily_Status')?['body/value']",
                                        "actions": {
                                            "Set_variable_-_status_by_service_-_SMG_Daily_Status": {
                                                "runAfter": {},
                                                "metadata": {
                                                    "operationMetadataId": "ca160c54-448c-4dd2-b987-066c1bf05061"
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "itPros",
                                                    "value": "@items('Apply_to_each_-_status_by_service_-_SMG_Daily_Status')?['field_1']"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Get_items_-_status_by_service_-_SMG_Daily_Status": [
                                                "Succeeded"
                                            ]
                                        },
                                        "metadata": {
                                            "operationMetadataId": "9226ca33-758d-4d7c-9973-c23177a2b7b5"
                                        },
                                        "type": "Foreach"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('itPros')",
                                                ""
                                            ]
                                        }
                                    },
                                    {
                                        "greater": [
                                            "@outputs('Compose_-_Crosswalk_match_count_-_SMG_Daily_Status')",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "824c4721-f90e-4669-9c46-d6150c8b974e"
                            },
                            "type": "If"
                        },
                        "Apply_to_each_-_Crosswalk_migration_service_-_SMG_Daily_Status": {
                            "foreach": "@outputs('Get_items_-_Crosswalk_match_-_SMG_Daily_Status')?['body/value']",
                            "actions": {
                                "Set_variable_-_migration_service_-_SMG_Daily_Status": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "bd5f505b-8bba-4476-b1b2-365b385f55bc"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "itPros",
                                        "value": "@items('Apply_to_each_-_Crosswalk_migration_service_-_SMG_Daily_Status')?['C7R9Service']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Set_variable_-_reset_value_to_blank_-_SMG_Daily_Status": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "3b8cc57d-4d03-4a83-9a5c-356e956c8442"
                            },
                            "type": "Foreach"
                        },
                        "Update_item_-_SMG_Daily_Status": {
                            "runAfter": {
                                "Condition_-_Crosswalk_match_found_-_SMG_Daily_Status": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "e01ba042-3012-4d75-9305-d89e36ec5bb7"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PatchItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "81e26213-f723-4b04-bfaf-3a5284cdb007",
                                    "id": "@items('Apply_to_each_-_Update_Migration_Status_-_SMG_Daily_Status')?['ID']",
                                    "item/Title": "@items('Apply_to_each_-_Update_Migration_Status_-_SMG_Daily_Status')?['Title']",
                                    "item/field_1": "@items('Apply_to_each_-_Update_Migration_Status_-_SMG_Daily_Status')?['field_1']",
                                    "item/field_2": "@items('Apply_to_each_-_Update_Migration_Status_-_SMG_Daily_Status')?['field_2']",
                                    "item/field_3": "@items('Apply_to_each_-_Update_Migration_Status_-_SMG_Daily_Status')?['field_3']",
                                    "item/migration_service": "@variables('itPros')"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Set_variable_-_reset_value_to_blank_-_SMG_Daily_Status": {
                            "runAfter": {
                                "Get_items_-_Crosswalk_match_-_SMG_Daily_Status": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "a25b232b-6b89-4258-a26f-88b450c86bcd"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "itPros",
                                "value": " "
                            }
                        }
                    },
                    "runAfter": {
                        "Get_items_-_Daily_Inventory_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "bb7cc9bb-3950-4c29-81d2-08b23238b5ff"
                    },
                    "type": "Foreach"
                },
                "Refresh_a_dataflow_-_SMG_Daily_Status": {
                    "runAfter": {
                        "Apply_to_each_-_Update_Migration_Status_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "7f23ef9e-35bd-4ee4-be20-6259dc9c52e5"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_dataflows",
                            "connectionName": "shared_dataflows",
                            "operationId": "RefreshDataflow"
                        },
                        "parameters": {
                            "workspaceType": "Workspace",
                            "groupIdForRefreshDataflow": "008c575b-bd8f-40eb-8f22-fc1e2d5d2e73",
                            "dataflowIdForRefreshDataflow": "045f703a-0b32-48de-9b38-d2c626ba1163"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Delay_-_SMG_Daily_Status": {
                    "runAfter": {
                        "Refresh_a_dataflow_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "7b5f44c6-4a0b-47aa-a565-fb2e37ac43f5"
                    },
                    "type": "Wait",
                    "inputs": {
                        "interval": {
                            "count": 30,
                            "unit": "Second"
                        }
                    }
                },
                "Refresh_a_dataset_-_SMG_Daily_Status": {
                    "runAfter": {
                        "Delay_-_SMG_Daily_Status": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "13141812-2731-4c89-94a1-0bb58698f294"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerbi",
                            "connectionName": "shared_powerbi",
                            "operationId": "RefreshDataset"
                        },
                        "parameters": {
                            "groupid": "5dec65c6-dca4-47c9-a96a-5023e52854fc",
                            "datasetid": "f4765b4b-b02c-40b6-904b-caefa55dd2cf"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "runAfter": {
                "32_Condition_-_SMG_Daily_System_Admin": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "smg-daily-status"
                ]
            },
            "metadata": {
                "operationMetadataId": "4339773b-ca88-4e32-bf77-35a578c87424"
            },
            "type": "If"
        },
        "41_Condition_-_AWS_Charges": {
            "actions": {
                "List_rows_-_AWS_Charges": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "7eaa9ad2-3aa9-470f-b5e6-dcb747634226",
                        "tableId": "AWS"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "AWS",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Apply_to_each_-_AWS_Charges": {
                    "foreach": "@outputs('List_rows_-_AWS_Charges')?['body/value']",
                    "actions": {
                        "Create_item_-_AWS_Charges": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "f8c68319-ad98-431f-b4a0-70d060a941b4"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "2033cb82-e40f-426e-ba64-58bc834c9cc9",
                                    "item/Title": "@items('Apply_to_each_-_AWS_Charges')?['Service']",
                                    "item/field_3": "@items('Apply_to_each_-_AWS_Charges')?['Month']",
                                    "item/field_0": "@items('Apply_to_each_-_AWS_Charges')?['Account']",
                                    "item/field_1": "@items('Apply_to_each_-_AWS_Charges')?['Tag']",
                                    "item/field_4": "@items('Apply_to_each_-_AWS_Charges')?['Amount']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Increment_variable_-_AWS_Charges": {
                            "runAfter": {
                                "Create_item_-_AWS_Charges": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "197ac915-c948-491b-8c33-dc0c60078914"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                                "name": "rowCount"
                            }
                        },
                        "Create_or_update_document_(V3)_-_AWS_Charges": {
                            "runAfter": {
                                "Increment_variable_-_AWS_Charges": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "80076939-a0d1-410d-8fb7-e5b0baaaa7fe"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "emss-rebill-aws-charges",
                                    "body": {
                                        "month": "@{items('Apply_to_each_-_AWS_Charges')?['Month']}",
                                        "account": "@{items('Apply_to_each_-_AWS_Charges')?['Account']}",
                                        "aws_service": "@{items('Apply_to_each_-_AWS_Charges')?['Service']}",
                                        "tag": "@{items('Apply_to_each_-_AWS_Charges')?['Tag']}",
                                        "amount": "@{items('Apply_to_each_-_AWS_Charges')?['Amount']}",
                                        "id": "@string(add(mul(int(replace(items('Apply_to_each_-_AWS_Charges')?['Month'],'-','')),10000),variables('rowCount')))"
                                    },
                                    "x-ms-documentdb-is-upsert": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "List_rows_-_AWS_Charges": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "12e46232-9728-4c3b-af4e-bcc853c08173"
                    },
                    "type": "Foreach"
                }
            },
            "runAfter": {
                "33_Condition_-_SMG_Daily_Status": [
                    "Succeeded"
                ]
            },
            "expression": {
                "contains": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "AWS-MonthlyCostByTag"
                ]
            },
            "metadata": {
                "operationMetadataId": "4b81dab4-8dbb-444a-919e-d9c979cf047d"
            },
            "type": "If"
        },
        "42_Condition_-_Azure_Charges": {
            "actions": {
                "Apply_to_each_-_Azure_Charges": {
                    "foreach": "@outputs('List_rows_present_in_a_table_-_Azure_Charges')?['body/value']",
                    "actions": {
                        "Create_item_-_Azure_Charges": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "1cfe67b2-4f27-4724-98a6-24c95a4ea564"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "78a76bf5-60db-48a3-9523-b0709e3eadc7",
                                    "item/Title": "@items('Apply_to_each_-_Azure_Charges')?['MeterCategory']",
                                    "item/field_0": "@items('Apply_to_each_-_Azure_Charges')?['BillingMonth']",
                                    "item/field_3": "@items('Apply_to_each_-_Azure_Charges')?['CostInBillingCurrency']",
                                    "item/Subscription": "@items('Apply_to_each_-_Azure_Charges')?['SubscriptionName']",
                                    "item/Resource_x0020_Group": "@items('Apply_to_each_-_Azure_Charges')?['ResourceGroup']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Increment_variable_-_Azure_Charges": {
                            "runAfter": {
                                "Create_item_-_Azure_Charges": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "b8d83a17-d0a1-4254-9f53-bbe85b4e251c"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                                "name": "rowCount"
                            }
                        },
                        "Create_or_update_document_(V3)_-_Azure_Charges": {
                            "runAfter": {
                                "Increment_variable_-_Azure_Charges": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "f74d1d98-c0e4-4b9f-9156-d46f3ffcb90f"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "emss-rebill-azure-charges",
                                    "body": {
                                        "month": "@{items('Apply_to_each_-_Azure_Charges')?['BillingMonth']}",
                                        "subscription": "@{items('Apply_to_each_-_Azure_Charges')?['SubscriptionName']}",
                                        "azure_service": "@{items('Apply_to_each_-_Azure_Charges')?['MeterCategory']}",
                                        "resource-group": "@{items('Apply_to_each_-_Azure_Charges')?['ResourceGroup']}",
                                        "amount": "@{items('Apply_to_each_-_Azure_Charges')?['CostInBillingCurrency']}",
                                        "id": "@string(add(mul(int(replace(items('Apply_to_each_-_Azure_Charges')?['BillingMonth'],'-','')),10000),variables('rowCount')))"
                                    },
                                    "x-ms-documentdb-is-upsert": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Filter_array_-_Azure_Charges": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "3cb2d557-8d03-4b88-a77a-a3136b25151c"
                    },
                    "type": "Foreach"
                },
                "Create_table_-_Azure_Charges": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "accce3a7-d1b4-4f7c-b375-519a30b8dc56",
                        "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "CreateTable"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table/Range": "A1:E1000",
                            "table/TableName": "Table1",
                            "table/ColumnsNames": "BillingMonth,SubscriptionName,ResourceGroup,MeterCategory,CostInBillingCurrency"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "List_rows_present_in_a_table_-_Azure_Charges": {
                    "runAfter": {
                        "Delay": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "a2ea4c08-63ef-4434-a3da-f53b82dbb35b",
                        "tableId": "Table1"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Table1",
                            "$filter": "BillingMonth ne ''",
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Filter_array_-_Azure_Charges": {
                    "runAfter": {
                        "List_rows_present_in_a_table_-_Azure_Charges": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "d6d7fe86-a7a4-4649-99a1-8263bbba7407"
                    },
                    "type": "Query",
                    "inputs": {
                        "from": "@outputs('List_rows_present_in_a_table_-_Azure_Charges')?['body/value']",
                        "where": "@equals(item()?['BillingMonth'], '')"
                    }
                },
                "Delay": {
                    "runAfter": {
                        "Create_table_-_Azure_Charges": [
                            "Succeeded",
                            "Failed",
                            "Skipped",
                            "TimedOut"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "78b387db-b635-47c1-a9cc-d33cef85780f"
                    },
                    "type": "Wait",
                    "inputs": {
                        "interval": {
                            "count": 30,
                            "unit": "Second"
                        }
                    }
                }
            },
            "runAfter": {
                "41_Condition_-_AWS_Charges": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "Azure-Import"
                ]
            },
            "metadata": {
                "operationMetadataId": "e8e59f87-4038-4302-b16d-ef800f51cfe4"
            },
            "type": "If"
        },
        "43_Condition_-_VH_Charges": {
            "actions": {
                "Apply_to_each_-_VH_Charges": {
                    "foreach": "@variables('csvRows')",
                    "actions": {
                        "Set_variable_-_rowCells_-_VH_Charges": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "edf2dd3e-2d24-4431-b472-cc54d341a9cf"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "rowCells",
                                "value": "@split(items('Apply_to_each_-_VH_Charges'),',')"
                            }
                        },
                        "Condition_-_exclude_header_row_-_VH_Charges": {
                            "actions": {
                                "Increment_variable_-_VH_Charges": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "6499ffad-2a0e-48c0-aa52-31ee5dbb99ac"
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "rowCount"
                                    }
                                },
                                "Create_or_update_document_(V3)_-_VH_Charges": {
                                    "runAfter": {
                                        "Increment_variable_-_VH_Charges": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "c7c08e38-275f-406f-ac3c-88109b4ebbb9"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                            "connectionName": "shared_documentdb",
                                            "operationId": "CreateDocument_V3"
                                        },
                                        "parameters": {
                                            "cosmosDbAccountName": "AccountNameFromSettings",
                                            "databaseId": "mss-cosmos-customermanagement-db1",
                                            "collectionId": "emss-rebill-vh-charges",
                                            "body": {
                                                "server": "@variables('rowCells')?[1]",
                                                "month": "@variables('monthYear')",
                                                "category": "@substring(variables('rowCells')?[0],0,13)",
                                                "amount": "@variables('rowCells')?[3]",
                                                "id": "@string(add(mul(int(replace(variables('monthYear'),'-','')),10000),variables('rowCount')))"
                                            },
                                            "x-ms-documentdb-is-upsert": true
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Set_variable_-_rowCells_-_VH_Charges": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "startsWith": [
                                                "@items('Apply_to_each_-_VH_Charges')",
                                                "Service Description"
                                            ]
                                        }
                                    },
                                    {
                                        "greater": [
                                            "@length(items('Apply_to_each_-_VH_Charges'))",
                                            1
                                        ]
                                    }
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "9c22584a-eb41-4ffd-8d02-94df4b30fa98"
                            },
                            "type": "If"
                        }
                    },
                    "runAfter": {
                        "Set_variable_-_monthYear_-_VH_Charges": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "6c169dca-6d18-453a-9e00-3c031b37eb79"
                    },
                    "type": "Foreach"
                },
                "Set_variable_-_csvRows_-_VH_Charges": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "9445ecbe-7b50-48d4-8adb-21262949a29e"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "csvRows",
                        "value": "@split(triggerOutputs()?['body'],variables('lineBreak'))"
                    }
                },
                "Set_variable_-_monthYear_-_VH_Charges": {
                    "runAfter": {
                        "Set_variable_-_csvRows_-_VH_Charges": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "45018399-9872-4bac-88b6-d0bf7201b9bf"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "monthYear",
                        "value": "@{substring(outputs('03_Get_file_metadata')?['body/Name'],6,7)}"
                    }
                }
            },
            "runAfter": {
                "42_Condition_-_Azure_Charges": [
                    "Succeeded"
                ]
            },
            "expression": {
                "endsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "-todate.csv"
                ]
            },
            "metadata": {
                "operationMetadataId": "411440f0-cbef-4a41-8caa-734a349496b0"
            },
            "type": "If"
        },
        "51_Condition_-_Crowdstrike_Hosts": {
            "actions": {
                "Apply_to_each_-_Crowdstrike_Hosts": {
                    "foreach": "@outputs('List_rows_present_in_a_table_-_Crowdstrike_Hosts')?['body/value']",
                    "actions": {
                        "Create_item_-_Crowdstrike_Hosts": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "20823818-914b-48a3-b70d-244d1e945445"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PostItem"
                                },
                                "parameters": {
                                    "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                                    "table": "6a51d781-d30b-465e-ae67-9da238b3bf91",
                                    "item/Title": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Hostname']",
                                    "item/Month": "@variables('monthYear')",
                                    "item/LastSeen": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Last Seen']",
                                    "item/FirstSeen": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['First Seen']",
                                    "item/Platform": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Platform']",
                                    "item/OSVersion": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['OS Version']",
                                    "item/OSProductName": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['OS Product Name']",
                                    "item/KernelVersion": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Kernel Version']",
                                    "item/PreventionPolicy": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Prevention Policy']",
                                    "item/ResponsePolicy": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Response Policy']",
                                    "item/SensorVersion": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Sensor Version']",
                                    "item/SensorTags": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Sensor Tags']",
                                    "item/CloudServiceGroup": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Cloud Service Group']",
                                    "item/LinuxSensorMode": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Linux Sensor Mode']"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Increment_variable_-_Crowdstrike_Hosts": {
                            "runAfter": {
                                "Create_item_-_Crowdstrike_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "65656d04-d296-4933-ac38-f74540607993"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                                "name": "rowCount"
                            }
                        },
                        "Create_or_update_document_(V3)_-_Crowdstrike_Hosts": {
                            "runAfter": {
                                "Increment_variable_-_Crowdstrike_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "57d870ba-957c-4f40-ba9c-3cd56be43f10"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_documentdb",
                                    "connectionName": "shared_documentdb",
                                    "operationId": "CreateDocument_V3"
                                },
                                "parameters": {
                                    "cosmosDbAccountName": "AccountNameFromSettings",
                                    "databaseId": "mss-cosmos-customermanagement-db1",
                                    "collectionId": "mss-crowdstrike",
                                    "body": {
                                        "server": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Hostname']",
                                        "month": "@variables('monthYear')",
                                        "last_seen": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Last Seen']",
                                        "first_seen": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['First Seen']",
                                        "platform": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Platform']",
                                        "os_version": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['OS Version']",
                                        "os_name": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['OS Product Name']",
                                        "os_kernel_version": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Kernel Version']",
                                        "prevention_policy": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Prevention Policy']",
                                        "response_policy": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Response Policy']",
                                        "sensor_version": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Sensor Version']",
                                        "sensor_tags": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Sensor Tags']",
                                        "cloud_service_group": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Cloud Service Group']",
                                        "linux_sensor_mode": "@items('Apply_to_each_-_Crowdstrike_Hosts')?['Linux Sensor Mode']",
                                        "id": "@string(add(mul(int(replace(variables('monthYear'),'-','')),10000),variables('rowCount')))"
                                    },
                                    "x-ms-documentdb-is-upsert": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "List_rows_present_in_a_table_-_Crowdstrike_Hosts": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "6c169dca-6d18-453a-9e00-3c031b37eb79"
                    },
                    "type": "Foreach"
                },
                "Set_variable_-_monthYear_-_Crowdstrike_Hosts": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "45018399-9872-4bac-88b6-d0bf7201b9bf"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "monthYear",
                        "value": "@{substring(outputs('03_Get_file_metadata')?['body/Name'],12,7)}"
                    }
                },
                "Refresh_a_dataflow_-_Crowdstrike_Hosts": {
                    "runAfter": {
                        "Apply_to_each_-_Crowdstrike_Hosts": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "ec3dc60a-35da-4aad-9462-24e762e670de"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_dataflows",
                            "connectionName": "shared_dataflows",
                            "operationId": "RefreshDataflow"
                        },
                        "parameters": {
                            "workspaceType": "Workspace",
                            "groupIdForRefreshDataflow": "008c575b-bd8f-40eb-8f22-fc1e2d5d2e73",
                            "dataflowIdForRefreshDataflow": "5d6f1801-13d7-4319-800c-b3f5eab89ed9"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "List_rows_present_in_a_table_-_Crowdstrike_Hosts": {
                    "runAfter": {
                        "Set_variable_-_monthYear_-_Crowdstrike_Hosts": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "e34b518c-a14c-4cea-9d9b-ee1da0895558",
                        "tableId": "Table1"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "GetItems"
                        },
                        "parameters": {
                            "source": "groups/7f7837e4-e4ba-4b2c-b949-2be5375728a9",
                            "drive": "b!rE_h2bCSsEGKfi-w2UYMT6_mNj47JmNGmZFVVJ_FNn2XtsfYoTJ1RLmOR_JNuMDs",
                            "file": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "table": "Table1",
                            "$top": 5000,
                            "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "runAfter": {
                "43_Condition_-_VH_Charges": [
                    "Succeeded"
                ]
            },
            "expression": {
                "startsWith": [
                    "@outputs('03_Get_file_metadata')?['body/Name']",
                    "crowdstrike_"
                ]
            },
            "metadata": {
                "operationMetadataId": "411440f0-cbef-4a41-8caa-734a349496b0"
            },
            "type": "If"
        },
        "99_Do_until_-_Move_to_backup": {
            "actions": {
                "Move_file_-_Move_to_backup": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "e9f0bbd5-18c2-44dd-8dec-a86dc07e9d36"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "MoveFileAsync"
                        },
                        "parameters": {
                            "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                            "parameters/sourceFileId": "@triggerOutputs()?['headers/x-ms-file-id']",
                            "parameters/destinationDataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
                            "parameters/destinationFolderPath": "/Shared Documents/inbox/_backup",
                            "parameters/nameConflictBehavior": 1
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Set_variable_-_fileLocked_-_Move_to_backup": {
                    "runAfter": {
                        "Move_file_-_Move_to_backup": [
                            "Failed",
                            "TimedOut",
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "905bb211-5e58-4b11-915f-a43befa21bbe"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "fileLocked",
                        "value": "@if(equals(outputs('Move_file_-_Move_to_backup')?['body']?['status'],400),true,false)"
                    }
                },
                "Delay_-_Move_to_backup": {
                    "runAfter": {
                        "Set_variable_-_fileLocked_-_Move_to_backup": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "a13082d8-13d5-49c8-ba99-d4ab6c7ebeaf"
                    },
                    "type": "Wait",
                    "inputs": {
                        "interval": {
                            "count": 30,
                            "unit": "Second"
                        }
                    }
                }
            },
            "runAfter": {
                "98_Condition_-_Refresh_Dataset": [
                    "Succeeded"
                ]
            },
            "expression": "@equals(variables('fileLocked'), false)",
            "limit": {
                "count": 60,
                "timeout": "PT1H"
            },
            "metadata": {
                "operationMetadataId": "a3709b5e-e5a2-4bd7-98e1-05cac061ac50"
            },
            "type": "Until"
        },
        "98_Condition_-_Refresh_Dataset": {
            "actions": {
                "Refresh_a_dataset_2": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "d03e6331-90ca-466f-9c34-e30667bca1ee"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerbi",
                            "connectionName": "shared_powerbi",
                            "operationId": "RefreshDataset"
                        },
                        "parameters": {
                            "groupid": "5dec65c6-dca4-47c9-a96a-5023e52854fc",
                            "datasetid": "cdd065f9-92cd-4f8d-b5c1-e27d24494763"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "runAfter": {
                "51_Condition_-_Crowdstrike_Hosts": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "not": {
                            "equals": [
                                "@variables('skipRefresh')",
                                true
                            ]
                        }
                    },
                    {
                        "greater": [
                            "@int(startOfHour(utcNow(),'HH'))",
                            13
                        ]
                    }
                ]
            },
            "metadata": {
                "operationMetadataId": "e32a8ca2-78eb-4a31-be15-99622a9c24f5"
            },
            "type": "If"
        }
    }
}