General/Import and Run Flow/0fc90280-ab43-4f3c-8428-643458d57198.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"91bdd507-a3c1-4d4c-8829-b8a1d1b1f342"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_file_content_-_Definition":{"runAfter":{},"metadata":{"%252fShared%2bDocuments%252fGeneral%252ffd300701-3b06-4ad9-91fc-6fe0363da713.json":"/Shared Documents/General/fd300701-3b06-4ad9-91fc-6fe0363da713.json","operationMetadataId":"21b8835c-9406-413a-8433-40f026e29e5b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","id":"%252fShared%2bDocuments%252fGeneral%252ffd300701-3b06-4ad9-91fc-6fe0363da713.json","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_Flow":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"739ed495-3bdb-4e61-a729-5359c395defc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement","connectionName":"shared_flowmanagement","operationId":"CreateFlow"},"parameters":{"environmentName":"Default-44467e6f-462c-4ea2-823f-7800de5434e3","Flow/properties/displayName":"Temp","Flow/properties/definition":"@body('Parse_JSON_-_Definition')","Flow/properties/state":"Stopped","Flow/properties/connectionReferences":"@body('Parse_JSON')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Turn_On_Flow":{"runAfter":{"Create_Flow":["Succeeded"]},"metadata":{"operationMetadataId":"fb6d3f58-c2d4-4bbc-9093-4f8596ca4045"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement","connectionName":"shared_flowmanagement","operationId":"StartFlow"},"parameters":{"environmentName":"Default-44467e6f-462c-4ea2-823f-7800de5434e3","flowName":"@outputs('Create_Flow')?['body/properties/flowTriggerUri']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Parse_JSON_-_Definition":{"runAfter":{"Get_file_content_-_Definition":["Succeeded"]},"metadata":{"operationMetadataId":"24ab86ef-2934-4867-89f8-407e7a6896ba"},"type":"ParseJson","inputs":{"content":"@body('Get_file_content_-_Definition')","schema":{}}},"Get_file_content_-_Connection":{"runAfter":{"Parse_JSON_-_Definition":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fGeneral%252ffd300701-3b06-4ad9-91fc-6fe0363da713-conn.json":"/Shared Documents/General/fd300701-3b06-4ad9-91fc-6fe0363da713-conn.json","operationMetadataId":"116e68c2-76a5-4a00-afe0-0cdc1b30d858"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","id":"%252fShared%2bDocuments%252fGeneral%252ffd300701-3b06-4ad9-91fc-6fe0363da713-conn.json","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Parse_JSON":{"runAfter":{"Get_file_content_-_Connection":["Succeeded"]},"metadata":{"operationMetadataId":"025b0d70-4762-483b-b022-54e7f3c66291"},"type":"ParseJson","inputs":{"content":"@body('Get_file_content_-_Connection')","schema":{}}}}}