General Flows/Update RedHat CSV/669f7e6c-651e-414a-b86e-28e8adfb7f08.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"03a4e243-9a71-40e9-ae9f-c915c4adad86"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","table":"69e88ddc-afe4-44fd-8a1e-23474ac6ce73"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"a5bfd94d-d343-47c6-905c-942b9729c963"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","table":"69e88ddc-afe4-44fd-8a1e-23474ac6ce73","view":"2a7fa8f1-40a3-406a-a631-fcc23a37da23"},"authentication":"@parameters('$authentication')"}},"Create_CSV_table":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"c93621f1-c973-43a7-81af-99dd0ec4bafa"},"type":"Table","inputs":{"from":"@body('Select')","format":"CSV"}},"Update_CSV_file":{"runAfter":{"Create_CSV_table":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252foutputs%252fredhat.csv":"/Shared Documents/outputs/redhat.csv","operationMetadataId":"38a9e94a-9306-4321-ab0e-f1476aaca478"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"UpdateFile"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","id":"%252fShared%2bDocuments%252foutputs%252fredhat.csv","body":"@body('Create_CSV_table')"},"authentication":"@parameters('$authentication')"}},"Update_JSON_file":{"runAfter":{"Update_CSV_file":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252foutputs%252fredhat.json":"/Shared Documents/outputs/redhat.json","operationMetadataId":"2c672e72-bd05-4185-9982-6899fd483f00"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"UpdateFile"},"parameters":{"dataset":"https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST","id":"%252fShared%2bDocuments%252foutputs%252fredhat.json","body":"@outputs('Compose_2')"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"f759d74a-fa03-46df-aa55-f1dde174fb67"},"type":"Compose","inputs":"@outputs('Get_items')?['body/value']"},"Select":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"78f3b19e-48db-4618-a93d-f7b05be23cec"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":{"Title":"@item()['Title']","RequestorEmail":"@item()['Requestor']['Email']","RequestorName":"@item()['Requestor']['DisplayName']","CloudProvider":"@item()['CloudProvider']['Value']","AccountID":"@item()['AccountID']","AccountName":"@item()['AccountName']","Subscription":"@item()['Subscription']['Value']","DateEnabled":"@item()['DateEnabled']","DateDisabled":"@item()['DateDisabled']","ID":"@item()['ID']","Entitlements":"@item()['OData__x0023_ofEntitlements']"}}},"Compose_2":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"098e51e3-39c9-4a42-832c-0a79523d2754"},"type":"Compose","inputs":"@body('Select')"}}}