General Flows/Update Project Tracking/dc135ba1-7cad-4ca9-aead-9641a76814b9.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": { "defaultValue": {}, "type": "Object" },
    "$authentication": { "defaultValue": {}, "type": "SecureObject" }
  },
  "triggers": {
    "Recurrence": {
      "recurrence": {
        "frequency": "Month",
        "interval": 1,
        "startTime": "2023-06-01T15:00:00Z"
      },
      "metadata": {
        "operationMetadataId": "d0403fbb-f5ab-4ccd-8df6-f9e071c97c0d"
      },
      "type": "Recurrence"
    }
  },
  "actions": {
    "Initialize_variable": {
      "runAfter": { "Send_an_HTTP_request_to_SharePoint": ["Succeeded"] },
      "metadata": {
        "operationMetadataId": "14cd91f6-e5eb-4491-94df-3eab4a6bebf1"
      },
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "countCentOS",
            "type": "float",
            "value": "@length(body('Send_an_HTTP_request_to_SharePoint')?['d']?['results'])"
          }
        ]
      }
    },
    "Send_an_HTTP_request_to_SharePoint": {
      "runAfter": {},
      "metadata": {
        "operationMetadataId": "329b9dd0-dff3-48cc-b72a-9d95516dfed2"
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "HttpRequest"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EricLEpps-TEST",
          "parameters/method": "GET",
          "parameters/uri": "_api/web/lists/getByTitle('SMG Inventory Latest')/items?$filter=field_3 eq 'centos7'",
          "parameters/headers": {
            "Accept": "application/json;odata=verbose",
            "Content-Type": "application/json;odata=verbose"
          }
        },
        "authentication": "@parameters('$authentication')"
      }
    },
    "Update_item": {
      "runAfter": { "Initialize_variable": ["Succeeded"] },
      "metadata": {
        "operationMetadataId": "22fa1d13-44b3-41d1-a2ee-38662d3a1f6d"
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
          "connectionName": "shared_sharepointonline",
          "operationId": "PatchItem"
        },
        "parameters": {
          "dataset": "https://uillinoisedu.sharepoint.com/sites/EMSS-Managers",
          "table": "c8716854-7b14-4812-855c-98e4a19c68ef",
          "id": 8,
          "item/Title": "CentOS 7 Migration",
          "item/OData__x0025_Complete": "@div(sub(118,variables('countCentOS')),118)",
          "item/Progress/Value": "Not started"
        },
        "authentication": "@parameters('$authentication')"
      }
    }
  }
}
