General Flows/Clean Inbox/a90758b5-a60f-4c4a-98f6-c54ff000c9bd.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":30,"startTime":"2022-04-28T21:00:00Z"},"metadata":{"operationMetadataId":"6c0d47b8-3c4f-44d3-a6ff-6412dfe7f1ce"},"type":"Recurrence"}},"actions":{"Get_emails_(V3)":{"runAfter":{},"metadata":{"operationMetadataId":"21055a13-65ed-4e33-a1ea-f6dba5823f2c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEmailsV3"},"parameters":{"folderPath":"Inbox","fetchOnlyUnread":false,"includeAttachments":false,"searchQuery":"isread:true received<=@{formatDateTime(addDays(utcNow(),-1),'yyyy-MM-dd')}\n","top":25,"importance":"Any","fetchOnlyWithAttachment":false},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_emails_(V3)')?['body/value']","actions":{"Move_email_(V2)":{"runAfter":{},"metadata":{"Id::AAMkAGNkOGJkNTBkLWVmZGMtNDk4OC1iYjU5LWY5YTY2OGU5Njc1NgAuAAAAAAAVWMo3cB7gQYG-436vMAefAQBuv66I5cY0T4CwDetTMj3sAAAAAAFXAAA=":"Archive","operationMetadataId":"e81c11e5-7dd9-4c52-818f-868438392147"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"MoveV2"},"parameters":{"messageId":"@items('Apply_to_each')?['id']","folderPath":"Id::AAMkAGNkOGJkNTBkLWVmZGMtNDk4OC1iYjU5LWY5YTY2OGU5Njc1NgAuAAAAAAAVWMo3cB7gQYG-436vMAefAQBuv66I5cY0T4CwDetTMj3sAAAAAAFXAAA="},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_emails_(V3)":["Succeeded"]},"metadata":{"operationMetadataId":"52fa8a75-6ccc-471c-87c5-8b78a09f8868"},"type":"Foreach"}}}